/*
	Customize Metronics Classess
*/
.search-content-1 .search-container>ul .search-item>a>img {
	border-radius: 50%;
    border: 3px solid #469498;
}
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group {
	height: 45px;
	border-color: #c6c6c6;
	border-top: 0;
	border-left: 0;
	border-right: 0; 
}
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group .form-control {
	padding: 10px 8px;
	color: #fff;
	font-size: 14px;
}
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group input::-webkit-input-placeholder {
	color: #fff !important;
}
 
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group input:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;  
}
 
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group input::-moz-placeholder {  /* Firefox 19+ */
	color: #fff !important;  
}
 
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group input:-ms-input-placeholder {  
	color: #fff !important;  
}
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
	box-shadow: none;
}
.page-sidebar .sidebar-search .input-group .input-group-btn .btn {

}
.page-sidebar .sidebar-search .input-group .input-group-btn .btn>i {
	color: #fff;
}
.nav-item > a.nav-toggle > .title {
	color: #fff;
}


/*
	Helper Classess
*/
.mar-top {
	margin-top: 15px;
}
.mar-btm {
	margin-bottom: 15px;
}
.mar-lft {
	margin-left: 15px;
}
.mar-rgt {
	margin-right: 15px;
}
.mar-rgt-lft {
	margin-left: 15px;
	margin-right: 15px;
}

.no-mar-top {
	margin-top: 0;
}
.no-mar-btm {
	margin-bottom: 0;
}

.text-light-bold {
	font-weight: 600;
	color: #a7a7a7;
}
.text-left {
	text-align: left !important;
}
span.red {
	color: red;
}
.full-width {
	width: 100%;
}
.label-green {
	background-color: green;
	color: #fff;
}
/* 
	Custom Classess
*/
.admissionAddForm label {
	font-size: 14px;
}
.text-left .control-label {
	text-align: left;
	font-weight: bold;
	color: #6B6B6B;
}
.user_form_edit label, .admissionAddForm label, .admissionAddCase label {
	font-weight: bold;
	color: #6B6B6B;
}
.admissionPersonalInformation label.control-label:last-child, .userInformation label.control-label:last-child{
	 font-weight: 400; 
	 color: #6B6B6B; 
}
.user_form_edit .mt-radio, .admissionAddCase .mt-radio, .admissionAddForm .mt-checkbox {
	margin-bottom: 0;
}
.profileInformation, .hmsAdmissionFormDob {
	display: none;
}
.hmsAdmissionCancelBed {
	cursor: pointer;
	padding: 10px 5px;
	color: #FF3F3F;
}

.hmsLoading2 {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0.6);
    width: 100%;
    height: 100%;
    z-index: 9999;
    font-size: 64px;
    display: flex;
    align-items: center;
    color: #00C17E;
    justify-content: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.hmsLoading {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 9999;
    font-size: 64px;
    display: flex;
    align-items: center;
    color: #00C17E;
    justify-content: center;
}

.hmsWhite {
	color: #fff;
}
 
.LabAdd-notification,
.PatientList-notification,
.RequisitionAdd-notification {
	margin-top: 50px;
}

.input-group-addon:last-child {
    width: 130px;
}

.no-display {
	display: none!important;
}
.no-mar-top {
	margin-top: 0px!important;
}
.no-mar-lft {
	margin-left: 0px!important;
}

#hmsLaboratoryMonitorList > thead > tr > th {
    font-size: 22px;
}
#hmsLaboratoryMonitorList > tbody > tr > td, 
#hmsLaboratoryMonitorList > tbody > tr > td > span {
    font-size: 24px;
}

.hmsForProcessingTable {
    background: rgba(70, 202, 214, 0.31);
    border: 1px solid #ccc;
}

.hmsOngoingTable {
	background: rgba(233, 97, 106, 0.30);
    border: 1px solid #ccc;
}
.hmsTimeExceed {
	color: #E7505A;
	font-weight: bold;
}
#hmsLaboratoryQueue > thead > tr > th {
    font-size: 30px !important;
}
#hmsLaboratoryQueue > tbody > tr > td, 
#hmsLaboratoryQueue > tbody > tr > td > span {
    font-size: 30px !important;
}

.hmsLaboratoryQueueResultDone>tbody>tr:nth-of-type(odd) {
	background: #C5EFF2;
}

.hmsLaboratoryQueueResultOngoing>tbody>tr:nth-of-type(odd) {
	background: #F9D0D2;
}

.hmsRed {
	color: #E7505A;
}

.hmsGreen {
	color: #32C5D2;
}


.login a {
    color: #2f353b!important;
}

.login .content .mt-checkbox>span:after {
    color: #2f353b!important;
}

.login .content .mt-checkbox {
    color: #2f353b!important;
}

.login .copyright {
    color: #337ab7;
}

.login .form-title {
	color: #2f353b;
}

.login .form-subtitle {
    color: #2f353b;
}

div.form-actions div.pull-left label.rememberme.mt-checkbox.mt-checkbox-outline span{
    border: 1px solid #333;
}

div.form-actions div.pull-left label.rememberme.mt-checkbox.mt-checkbox-outline span ::after{
    border-color: #2f353b!important;
}

div.copyright{
    color: #337ab7;
}


form.forget-form div.form-actions button#back-btn.btn.btn-default{
    color: #fdfdfd;
}

form.forget-form div.form-actions button.btn.btn-primary.uppercase.pull-right{
    color: #fdfdfd;
}

div input.form-control.form-control-solid.placeholder-no-fix.input_username.valid{
    color: #fdfdfd;
}


div.form-actions div.pull-left label.rememberme.mt-checkbox.mt-checkbox-outline span{
    border: 1px solid #000;
    border-color: #000;
    color: #000;
}

div.form-actions div.pull-left label.rememberme.mt-checkbox.mt-checkbox-outline span:after{
    border-color: #000!important;
}

.page-header.navbar .menu-toggler {
	/*background-color: red;*/
	background-image: url(../addons/metronic/layouts/layout2/img/sidebar_toggler_icon_darkblue.png);
}

.page-header.navbar .page-top {
    background: #26344b;
}

.page-header.navbar .search-form {
    background: #26344b;
}

.summary-margin-10{
	margin: 0px 10px;
}

.cms-pdng-5{
	padding-right: 5px;	

}
.cms-btn-view{
	margin-top: 18px;
}

li.select2-search.select2-search--inline > .modal-open .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    width: 0!important;
}

.mt-element-list .list-todo.mt-list-container ul>.mt-list-item {
    list-style: none;
    border-bottom: 1px solid;
    border-bottom-style: dashed;
    border-color: #e7ecf1;
    padding: 1px;
    position: relative;
}


p.ist-item-content.text-center {
    margin: 0px;
}

a.btn.btn-outline.green.cms-addo-charges {
    margin-top: 12px;
}

.profile ul.profile-nav img.pic-bordered {
    border: 1px solid #e1e7ee;
    height: 203px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
    width: 37px;
}

.tableTopMargin{
	margin: 0px !important;
}
	
.profile ul.profile-nav img.pic-bordered {
    width: 100%;
}	

.profile ul.profile-nav img.pic-bordered {
    height: 250px;
}

.commentCotainer{
	height: 500px;
	overflow-y: overlay; 
}

.dataTables_extended_wrapper .table.dataTable {
    margin: 0px 0!important;
}

div.bootbox.modal.fade.AdminPassword.in div.modal-dialog div.modal-content div.modal-footer{
	margin-top: 0px;
}
 
.DTFC_LeftHeadWrapper {
    height: 44px;
}

.DTFC_RightHeadWrapper {
    height: 37px;
}
 
.portlet.box .dataTables_wrapper .dt-buttons {
    margin-top: 0px;
}

span.select2.select2-container.select2-container--bootstrap {
    width: 100% !important;
}


div#addiagent {
    padding: 15px;
}

div#addiSummary {
    padding: 15px;
    font-size: inherit;
}

div.cms-container div.col-md-8.col-sm-12 h3{
    padding-left: 10px;
}

.cms-text-right {
    text-align: right;
    padding-top: 26px;
}

.cms-downpayment-margin-top {
    margin-top: -17px;
}

.cms-text-right {
    text-align: right;
    padding-top: 19px;
}

div.property-container div.cms-col-md-12 div.cms-col-md-6.cms-text-right{
    padding-top: 0px;
}

span.addClient_summary_cleintName {
    font-size: large;
}

h4.cms-hr-margin-top {
    margin-top: 0px;
}

div.cms-col-md-6.cms-text-right label.cms-bold {
    padding-top: 0px;
    margin-bottom: 9px;
}

div.cms-col-md-6.cms-text-right div.cms-col-md-6.cms-text-right{
    margin-bottom: 11px;
}

label.form-label.cms-bold.txt-margin-left{
    margin-right: 15px;
}

div.cms-container.cms-margin-top div.cms-col-md-6.cms-text-right label.cms-bold{
    padding-bottom: 12px;
}

div.bootbox-body div.row h3.h4-margin.cms-left-pddng{}{
    padding-left: 30px;
    font-size: large;
}

.txtCom{
    font-size: x-large;
}

h2.cms-text-center.headerTitle {
    font-size: x-large;
}

label.form-label.sbold.totalReleaseCom {
    font-size: xx-large;
}

.portlet.light .dataTables_wrapper .dt-buttons {
    margin-top: 0px;
}

.upcharges{
    font-size: larger;
}

th.size.sorting {
    text-align: center;
    padding-left: 93px;
    padding-right: 99px !important;
}
th.Bname.sorting_asc {
    padding-left: 36px;
    padding-right: 52px !important;
}

.dialogWide > .modal-dialog {
     width: 80% !important;
 }