.cardHistoryTable > tbody > tr > .center{
    text-align: center;
}
.cardHistoryContainer i {
    color: #32c5d2;
}
.barcodeMenu button:hover{
    background: #DDDDDD;
    color: #36c6d3;
    transform: scale(1.1);
}
.barcodeMenu button{
    padding-top: 5px;
    border: none;
    background: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.barcodeMenu button > img{
    width: 100%;
}