body.login{
	/*background: url('../img/bg.jpg');*/
	background-color: #A0B4C9;
	background-size: cover;
	background-position: top center;
}
.login-container {
	width: 400px;
	margin: 50px auto;
	color: #29296B
}
.logo{
	width: 150px;
	margin: auto;
}
/*.login-form {
	background: rgba(255,255,255,0.8);
	padding: 50px 25px;
}*/
.txt {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #BBA9A9;
	outline: none;
}
.custom-btn-primary {
	background: #28286A;
	color: #fff;
	border: 1px solid #28286A;
}
.custom-btn-primary:hover {
	background: #fff;
	color: #28286A;
	border: 1px solid #28286A;
}
.search-content-1 .search-container>ul .search-item>a>img {
	border-radius: 50%;
    border: 3px solid #469498;
}
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group {
	height: 45px;
	border-color: #c6c6c6;
	border-top: 0;
	border-left: 0;
	border-right: 0; 
}
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group .form-control {
	padding: 10px 8px;
	color: #fff;
	font-size: 14px;
}
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group input::-webkit-input-placeholder {
	color: #fff !important;
}
 
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group input:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;  
}
 
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group input::-moz-placeholder {  /* Firefox 19+ */
	color: #fff !important;  
}
 
.page-sidebar .sidebar-search.sidebar-search-bordered .input-group input:-ms-input-placeholder {  
	color: #fff !important;  
}
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
	box-shadow: none;
}
.page-sidebar .sidebar-search .input-group .input-group-btn .btn {

}
.page-sidebar .sidebar-search .input-group .input-group-btn .btn>i {
	color: #fff;
}
.nav-item > a.nav-toggle > .title {
	color: #fff;
}


/*
	Helper Classess
*/
.mar-top {
	margin-top: 15px;
}
.mar-btm {
	margin-bottom: 15px;
}
.mar-lft {
	margin-left: 15px;
}
.mar-rgt {
	margin-right: 15px;
}

.no-mar-top {
	margin-top: 0;
}
.text-light-bold {
	font-weight: 600;
	color: #a7a7a7;
}
span.red {
	color: red;
}
.full-width {
	width: 100%;
}
.label-green {
	background-color: green;
	color: #fff;
}
/* 
	Custom Classess
*/
.admissionAddForm label {
	font-size: 14px;
}

.hmsLoading {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 9999;
    font-size: 64px;
    display: flex;
    align-items: center;
    color: #00C17E;
    justify-content: center;
}
	