<style>
    a.btn.btn-outline.green.btn_searchForSelectedDate,
    a.btn.btn-outline.green.btn_additionalChargesSelDate, a.btn.btn-outline.green#btn_advanceDateSearch, #btn_advanceDateSearchCharges {
        margin-top: 23px;
    }
</style>

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="file:///C:/xampp/htdocs/ui.jkar.com/dashboard.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Reports</span>
                </li>
            </ul>

        </div>
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-clone"></i>Reports</div>
            </div>
            <div class="portlet-body">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <!-- Removed for a while -->
                        <!-- <li class="" id="comReport_div">
                            <a href="#ComReport" data-toggle="tab"> Commission Report </a>
                        </li>
                        <li class="" id="comSummary_div">
                            <a href="#ComSummary" data-toggle="tab"> Commission Summary </a>
                        </li> -->
                        <!--  <li class="">
                                <a href="#ComRelease" data-toggle="tab"> Commission Release </a>
                            </li> -->
                        <!-- <li class="" id="comRelease_div">
                            <a href="#ComDetails" data-toggle="tab"> Commission Release Details </a>
                        </li> -->
                        <li class="active">
                            <a href="#incomeState" id="btn_incomState" data-toggle="tab"> Income Statement </a>
                        </li>
                        <li class="">
                            <a href="#additionalCharges" id="btn_additionalCharges" data-toggle="tab"> Additional Charges </a>
                        </li>
                        <li class="">
                            <a href="#overall" id="btn_overall"  class="hidden" data-toggle="tab">Overall Report</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!-- tab1 -->
                        <!-- Removed for a while -->
                        <!-- <div class="tab-pane active" id="ComReport"> -->
                            <div class="tab-pane hidden" id="ComReport">
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group selectAgentWrapper">
                                                <div class="col-md-6" style="padding-left: 0px">
                                                    <select class="form-control select2 selectAgents">
                                                            <option value="0"> All</option>
                                                            <option value="1"> Sales Director Head</option>
                                                            <option value="2"> Sales Director </option>
                                                            <option value="3"> Unit Manager </option>
                                                            <option value="4"> Manager </option>
                                                            <option value="5"> Agent </option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6 text-right">
                                                <div class="form-inline">
                                                   <div class="form-group" >   
                                                        <div class="col-md-6">
                                                            <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                                <input type="text" class="form-control" name="from">
                                                                <span class="input-group-addon"> to </span>
                                                                <input type="text" class="form-control" name="to"> </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" >   
                                                        <a href="javascript:;" class="btn btn-outline green "><span class="fa fa-search"> </span> Search</a>
                                                    </div>
                                                </div>    
                                            </div> -->
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="commissionAll">
                                                <table id="example" class="display nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th> Buyer </th>
                                                            <th> Property Name </th>
                                                            <th> Ph </th>
                                                            <th> Blk </th>
                                                            <th> Lt </th>
                                                            <th> TCP </th>
                                                            <th> Add Com </th>
                                                            <th> CRS </th>
                                                            <th class="agent_1"> SD </th>
                                                            <th class="agent_2"> Unit Manager </th>
                                                            <th class="agent_3"> Manager </th>
                                                            <th class="agent_5"> Agent </th>
                                                            <th class="agent_4"> SDH </th>
                                                            <th> Total </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="commissionSD hidden">
                                                <table id="example_2" class="display nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th> Buyer </th>
                                                            <th> Property Name </th>
                                                            <th> Ph </th>
                                                            <th> Blk </th>
                                                            <th> Lt </th>
                                                            <th> TCP </th>
                                                            <th> Add Com </th>
                                                            <th> CRS </th>
                                                            <th> SDH </th>
                                                            <th> Total </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="commissionAgent1 hidden">
                                                <table id="example_3" class="display nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th> Buyer </th>
                                                            <th> Property Name </th>
                                                            <th> Ph </th>
                                                            <th> Blk </th>
                                                            <th> Lt </th>
                                                            <th> TCP </th>
                                                            <th> Add Com </th>
                                                            <th> CRS </th>
                                                            <th> SD </th>
                                                            <th> Total </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="commissionAgent2 hidden">
                                                <table id="example_4" class="display nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th> Buyer </th>
                                                            <th> Property Name </th>
                                                            <th> Ph </th>
                                                            <th> Blk </th>
                                                            <th> Lt </th>
                                                            <th> TCP </th>
                                                            <th> Add Com </th>
                                                            <th> CRS </th>
                                                            <th> Unit Manager </th>
                                                            <th> Total </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="commissionAgent3 hidden">
                                                <table id="example_5" class="display nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th> Buyer </th>
                                                            <th> Property Name </th>
                                                            <th> Ph </th>
                                                            <th> Blk </th>
                                                            <th> Lt </th>
                                                            <th> TCP </th>
                                                            <th> Add Com </th>
                                                            <th> CRS </th>
                                                            <th> Manager </th>
                                                            <th> Total </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="commissionAgent4 hidden">
                                                <table id="example_6" class="display nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th> Buyer </th>
                                                            <th> Property Name </th>
                                                            <th> Ph </th>
                                                            <th> Blk </th>
                                                            <th> Lt </th>
                                                            <th> TCP </th>
                                                            <th> Add Com </th>
                                                            <th> CRS </th>
                                                            <th> Agent </th>
                                                            <th> Total </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="ComRelease">
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control select2 selectAgentSumRef">
                                                    <option value="0"> All</option>
                                                    <option value="1"> Sales Director Head</option>
                                                    <option value="2"> Sales Director </option>
                                                    <option value="3"> Unit Manager </option>
                                                    <option value="4"> Manager </option>
                                                    <option value="5"> Agent </option>
                                                </select>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control dateFrom" name="from">
                                                        <span class="input-group-addon"> to </span>
                                                        <input type="text" class="form-control dateTo" name="to">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <a href="javascript:;" class="btn btn-outline green btn-searchDate"><span class="fa fa-search"> </span> Search</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6 text-right">
                                                <label class="form-label sbold totalReleaseCom">Total: ₱<span style="color:red" class="totalRel"> 100,000.00</span></label>
                                            </div> -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="comRelease">
                                                <table id="comReleaseTable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th> Buyer </th>
                                                            <th> Property </th>
                                                            <th> Agent </th>
                                                            <th> % </th>
                                                            <th> Commission </th>
                                                            <th> Position </th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th colspan="4" style="text-align:right">Total:</th>
                                                            <th></th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="ComSummary">
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <!-- <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group selectAgentWrapper">    
                                                    <div class="col-md-12" style="padding-left: 0px">
                                                       <div class="form-inline">
                                                           <div class="form-group" >   
                                                                <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                                    <input type="text" class="form-control dateFromSum" name="from">
                                                                    <span class="input-group-addon"> to </span>
                                                                    <input type="text" class="form-control dateToSum" name="to"> 
                                                                </div>
                                                            </div>
                                                            <div class="form-group" >   
                                                                <a href="javascript:;" class="btn btn-outline green btn-searchDateSum"><span class="fa fa-search"> </span> Search</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    <!-- <hr> -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="commissionAll">
                                                <table id="Summary" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th> Account No </th>
                                                            <th> Agent Name </th>
                                                            <th> Commission </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="ComDetails">
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <div class="row" style="padding: 0px 0px 9px 0px;">
                                        <div class="col-md-6">
                                            <div class="form-group selectAgentWrapper">
                                                <div class="col-md-6" style="padding-left: 0px">
                                                    <select class="form-control select2 selAgentPos">
                                                            <option value="0"> All</option>
                                                            <option value="1"> Sales Director Head </option>
                                                            <option value="2"> Sales Director </option>
                                                            <option value="3"> Unit Manager</option>
                                                            <option value="4"> Manager </option>
                                                            <option value="5"> Agent </option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control select2 selAgenPropDetails">
                                                    <option value="0">All</option>
                                                </select>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control sel_dateFrom" name="from">
                                                        <span class="input-group-addon"> to </span>
                                                        <input type="text" class="form-control sel_dateTo" name="to">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <a href="javascript:;" class="btn btn-outline green btn_searchForDate"><span class="fa fa-search"> </span> Search</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="comRelDetails">
                                                <table id="ComRelDetails" class="display nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th> Buyer </th>
                                                            <th> Property Name </th>
                                                            <th> Ph </th>
                                                            <th> Blk </th>
                                                            <th> Lt </th>
                                                            <th> TCP </th>
                                                            <th> Add Com </th>
                                                            <th> CRS </th>
                                                            <th> Payment </th>
                                                            <th> Date </th>
                                                            <th> Agent Name </th>
                                                            <th> % </th>
                                                            <th> Amount </th>
                                                            <th> Position </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane active" id="incomeState">
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="form-group">
                                        <label class="col-md-2 control-label"> <strong> Transaction Type :</strong> </label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="icheck-inline">
                                                        <label>
                                                            <input type="radio" name="rd_Options" data-i="0" checked class="icheck_reports" value="0"> Cash </label>
                                                        <label>
                                                            <input type="radio" name="rd_Options" data-i="0" class="icheck_reports" value="1"> Bank / Remittance Center </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="">Select Property:</label>
                                            <select class="form-control select2 slt_proplist">
                                                <option value="0">All</option>
                                                <option value="1">Jimedalewood</option>
                                                <option value="2">Sakagawaville</option>
                                                <option value="3">Rockville</option>
                                                <option value="4">Eden Highland</option>
                                                <option value="5">Seven Heights</option>
                                                <option value="6">Sereinaville</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inline">
                                                <div class="form-group" style="width: 40%;">
                                                    <label for="">Search Date:</label>
                                                    <select name="" id="" class="form-control select2 slt_dateSelection">
                                                           <option value="0"> This Year </option>
                                                           <option value="1"> Daily </option>
                                                           <option value="2"> Weekly </option>
                                                           <option value="3"> Monthly </option>
                                                       </select>
                                                </div>
                                                <div class="form-group">
                                                    <a href="javascript:;" class="btn btn-outline green btn_searchForSelectedDate"><span class="fa fa-search"> </span></a>
                                                    <a href="javascript:;" class="btn btn-outline green" id="btn_advanceDateSearch"><strong><span class="fa fa-calendar"> </strong> </span> Advance Date Search </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="commissionAll">
                                                <table id="icomeStement" class="display nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th> OR #</th>
                                                            <th> Date </th>
                                                            <th> Buyer Name </th>
                                                            <th> Installment </th>
                                                            <th> TCP </th>
                                                            <th> Lot Size </th>
                                                            <th> Term </th>
                                                            <th> Block </th>
                                                            <th> Lot </th>
                                                            <th> Monthly </th>
                                                            <th> Payment Type </th>
                                                            <th> Sales </th>
                                                            <th > 10% </th>
                                                            <th id="two-percent" > 2% </th>
                                                            <th id="three-percent"> 3% </th>
                                                            <th> Tax </th>
                                                            <th> Office (%) </th>
                                                            <th> Partner 1 (%) </th>
                                                            <th> Partner 2 (%)</th>
                                                            <th> 100% </th>
                                                            <th> Note </th>
                                                          
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="additionalCharges">
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="form-group">
                                        <label class="col-md-2 control-label"> <strong> Transaction Type :</strong> </label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="icheck-inline">
                                                        <label>
                                                            <input type="radio" name="rd_Options" data-id="0" class="icheck_type"> Cash </label>
                                                        <label>
                                                            <input type="radio" name="rd_Options" data-id="1" class="icheck_type"> Bank / Remittance Center </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="">Select Property:</label>
                                            <select class="form-control select2 slt_proplist" id="slt_addtioanChargesPropList">
                                                <option value="0">All</option>
                                                <option value="1">Jimedalewood</option>
                                                <option value="2">Sakagawaville</option>
                                                <option value="3">Rockville</option>
                                                <option value="4">Eden Highland</option>
                                                <option value="5">Seven Heights</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-inline">
                                                <div class="form-group" style="width: 40%;">
                                                    <label for="">Search Date:</label>
                                                    <select name="" id="" class="form-control select2 slt_additionalCharges">
                                                           <option value="0"> All </option>
                                                           <option value="1"> Daily </option>
                                                           <option value="2"> Weekly </option>
                                                           <option value="3"> Monthly </option>
                                                       </select>
                                                </div>
                                                <div class="form-group">
                                                    <a href="javascript:;" class="btn btn-outline green btn_additionalChargesSelDate"><span class="fa fa-search"> </span></a>
                                                    <a href="javascript:;" class="btn btn-outline green" id="btn_advanceDateSearchCharges"><strong><span class="fa fa-calendar"> </strong> </span> Advance Date Search </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="commissionAll">
                                                <table id="tbl_additionalCharges" class="display nowrap" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th> Date           </th>
                                                            <th> Name           </th>
                                                            <th> Property       </th>
                                                            <th> Payment        </th>
                                                            <th> Amount         </th>
                                                            <th> Office         </th>
                                                            <th> %              </th>
                                                            <th> Partner 1      </th>
                                                            <th> %              </th>
                                                            <th> Partner 2      </th>
                                                            <th> %              </th>
                                                            <th> Description    </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="overall">
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <div class="form-inline">
                                                <div class="form-group" style="width: 40%;">
                                                    <label for="">Search Date:</label>
                                                    <select name="" id="" class="form-control select2 slt_additionalCharges">
                                                           <option value="0"> All </option>
                                                           <option value="1"> Daily </option>
                                                           <option value="2"> Weekly </option>
                                                           <option value="3"> Monthly </option>
                                                       </select>
                                                </div>
                                                <div class="form-group">
                                                    <a href="javascript:;" class="btn btn-outline green btn_additionalChargesSelDate"><span class="fa fa-search"> </span></a>
                                                    <a href="javascript:;" class="btn btn-outline green" id="btn_advanceDateSearchCharges"><strong><span class="fa fa-calendar"> </strong> </span> Advance Date Search </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                                <div class="overallReportTable">

                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->
</div>