 <style>
    .modal-footer {
        margin-top: 0px !important;
    }
    
    button#btn_addCharges_p {
        border-radius: 29px;
        border: none;
    }
 </style>

 <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Payment</span>
                </li>
            </ul>
        </div>
            <div class="portlet box blue ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-clone"></i>Payment Record</div>
                    <div class="tools" id="cms_actionTools"></div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#tab_1" data-toggle="tab"> Pay </a>
                            </li>
                            <li class="paymentHistoryTab hidden ">
                                <a href="#tab_2"  data-toggle="tab" id="tab_paymentTab"> Transaction History </a>
                            </li>
                            <li class="fullPaymentTab">
                                <a href="#tab_3"  data-toggle="tab"> Full Payment</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="portlet light portlet-fit portlet-form bordered">
                                    <div class="portlet-body">
                                        <!-- BEGIN FORM-->
                                        <div action="#" class=" paymentForm" id="">
                                            <div class="form-body">
                                                <div class="form-group">
                                                    <div class="col-md-offset-9 col-md-3 text-right">
                                                        <label for=""> <strong> Charges </strong> </label>
                                                        <button class="btn btn-outline green" id="btn_addCharges_p"> <span class="fa fa-plus"></span></button>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                             <select class="form-control select edited paymentoptions" name="">
                                                                 <option value="1">Single Payment</option>
                                                                 <option value="2">Multiple Payment</option>
                                                            </select>
                                                            <label for="form_control_1">payment Option</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                             <select class="form-control select2 edited addPaymentClientList" name="addPaymentClientList">
                                                            </select>
                                                            <label for="form_control_1">Client Name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 single">
                                                        <div class="form-group form-md-line-input">
                                                             <select class="form-control select2 edited  addPaymentPropertyList" name="addPaymentPropertyList">
                                                            </select>
                                                            <label for="form_control_1">Property Name's</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 hidden multiple">
                                                        <div class="form-group form-md-line-input">
                                                             <select class="form-control  edited  addPaymentPropertyList select2"  name="addPaymentPropertyList"  multiple="multiple">
                                                            </select>
                                                            <label for="form_control_1">Property Name's</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                            <input type="text" readonly class="form-control paymentBalance" name="paymentBalance" id="form_control_1">
                                                            <label for="form_control_1">Balance</label>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">

                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                            <select class="form-control edited modeOfPayment" id="modeOfPayment">
                                                                <option value="1">Cash</option>
                                                                <option value="2">Bank</option>
                                                                <option value="3">Remittance Center</option>
                                                            </select>
                                                            <label for="form_control_1">Mode of Payment</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                            <input type="text" class="form-control paymentCredit" id="form_control_1" name="paymentCredit">
                                                            <label for="form_control_1">Amount</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" readonly class="form-control date-picker paymentDate" required id="changeDate" name="paymentDate" >
                                                             <!--    <input type="hidden" class="paymentmadeDate"  name="paymentmadeDate" > -->
                                                                <label for="form_control_1">Date</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                  <!--   <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                            <input type="text" readonly class="form-control paymentAgentCommision" required id="form_control_1" name="paymentAgentCommision">
                                                            <label for="form_control_1">Agent Commision</label>
                                                        </div>
                                                    </div> -->

                                                    <div class="col-md-3 ">
                                                        <div class="form-group form-md-line-input ">
                                                            <input type="text" class="form-control paymentornumber"  id="form_control_1" name="paymentornumber">
                                                            <label for="form_control_1">OR Number</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input remitanceCenter hidden">
                                                            <input type="text" class="form-control remitanceCenterName"  id="form_control_1" name="remitanceCenter">
                                                            <label for="form_control_1">Remittance Center</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <img src="images/paid.png" class="hidden" id="paidStat" style="height: 150px;">
                                                    </div>

                                                </div>

                                                <div class="form-actions">

                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group form-md-line-input ">
                                                                <textarea class="form-control paymentNote" name="paymentNote" id="" cols="30" rows="2" placeholder=" Add payment description"></textarea>
                                                                <label for="form-note">Note :</label>
                                                            </div>
                                                        </div>    
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-offset-9 col-md-3 text-center">
                                                            <button type="submit"   class="btn btn-outline green btnPaymentSubmit">Submit</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <script>
                                            $(document).ready(function()
                                            {
                                                $('#clickmewow').click(function()
                                                {
                                                    $('#radio1003').attr('checked', 'checked');
                                                });
                                            })

                                            $(document).on('change', '#modeOfPayment', function() {
                                                var mode = $('#modeOfPayment').val();
                                                var text = $('#modeOfPayment option:selected').text()

                                                if(mode == '1'){
                                                    $('.remitanceCenter').addClass('hidden');
                                                }else if(mode == '2'){
                                                    $('.remitanceCenter').removeClass('hidden');
                                                    $('.remitanceCenter').find('label').html(text + " Name");
                                                }else{
                                                     $('.remitanceCenter').removeClass('hidden');
                                                     $('.remitanceCenter').find('label').html(text + " Name");
                                                }
                                            });


                                        </script>

                                        <!-- END FORM-->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_2">
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="tools paymentHistoryPaymentExportTools"> </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-column collapsed transactionPaymentHistoryTable">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> OR # </th>
                                                    <th> Name </th>
                                                    <th> Property </th>
                                                    <th> Date </th>
                                                    <th> Amount </th>
                                                    <th> Transaction Type </th>
                                                    <th> Operation </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_3">
                                <div class="portlet">
                                    <div class="portlet-title">
                                    </div>
                                    <div class="portlet-body">
                                        <div action="#" class=" paymentForm" id="">
                                            <div class="form-body">
<!-- 
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                             <select class="form-control select edited paymentoptions" name="">
                                                                 <option value="1">Single Payment</option>
                                                                 <option value="2">Multiple Payment</option>
                                                            </select>
                                                            <label for="form_control_1">payment Option</label>
                                                        </div>
                                                    </div>
                                                </div> -->
                                             

                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                             <select class="form-control select2 edited fullPaymentClient" name="fullPaymentClient">
                                                            </select>
                                                            <label for="form_control_1">Buyer Name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group form-md-line-input single">
                                                             <select class="form-control select2 edited  fullPaymentPropertyList" name="fullPaymentPropertyList"  >
                                                            </select>
                                                            <label for="form_control_1">Property Name's</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 hidden multiple">
                                                        <div class="form-group form-md-line-input">
                                                             <select class="form-control edited  addPaymentPropertyList select2"  name="addPaymentPropertyList" multiple>
                                                            </select>
                                                            <label for="form_control_1">Property Name's</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 single">
                                                        <div class="form-group form-md-line-input">
                                                            <input type="text" readonly class="form-control fullPaymentBalance" name="fullPaymentBalance" >
                                                            <label for="form_control_1">Balance</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 hidden multiple">
                                                        <div class="form-group form-md-line-input">
                                                            <input type="text" readonly class="form-control paymentBalance" name="paymentBalance" id="form_control_1">
                                                            <label for="form_control_1">Total Balance</label>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">

                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                            <select class="form-control edited modeOfFullPayment" id="modeOfFullPayment">
                                                                <option value="1">Cash</option>
                                                                <option value="2">Bank</option>
                                                                <option value="3">Remittance Center</option>
                                                            </select>
                                                            <label for="form_control_1">Mode of Payment</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                            <input type="text" class="form-control fullPaymentDiscount" name="fullPaymentDiscount">
                                                            <label for="form_control_1">Discount</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control date-picker fullPaymentDate" required name="fullPaymentDate">
                                                                <label for="form_control_1">Date</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                  <!--   <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                            <input type="text" readonly class="form-control paymentAgentCommision" required id="form_control_1" name="paymentAgentCommision">
                                                            <label for="form_control_1">Agent Commision</label>
                                                        </div>
                                                    </div> -->

                                                    <div class="col-md-3 ">
                                                        <div class="form-group form-md-line-input ">
                                                            <input type="text" class="form-control fullpaymentOrnumber"  name="paymentornumber">
                                                            <label for="form_control_1">OR Number</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input remitanceCenter hidden">
                                                            <input type="text" class="form-control fullpaymentRemitanceCenter" name="fullpaymentRemitanceCenter">
                                                            <label for="form_control_1">Remittance Center</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <img src="images/paid.png" class="hidden"  style="height: 150px;">
                                                    </div>

                                                </div>

                                                <div class="form-actions">

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-md-line-input ">
                                                                <input type="text" class="form-control fullPaymentNote"  name="fullPaymentNote" placeholder=" Add payment description">
                                                                <label for="form-note">Note :</label>
                                                            </div>
                                                        </div>    
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-offset-9 col-md-3 text-center">
                                                            <button type="submit"   class="btn btn-outline green btnSubmitFullPayment">Submit</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>


<div id="acknowledgementReceipt" class="hidden" >
    <style type="text/css">
        /*new code*/
        .rmma-receipt-container {
            display: -webkit-flex;
            display: flex;
            width: 100%;
            /*height: 250px;*/
            /*background-color: lightgrey;*/
        }

        @page { size: auto;  margin: 0mm; }

        input.rmmaIssuedBy {
            width: 90%;
        }

        .rmma-text-right{
            text-align: right;
        }

        label.rmma-receipt-item.rmma-text-right {
            padding-right: 210px;
            font-weight: 800;
        }

        .rmma-receipt-item {
            width: 100%;
            margin: 10px;
        }

        .rmma-receipt-header {
            width: 100%;
            height: 100px;
            margin: auto;
        }

        .rmma-location{
            text-align: center;
            margin: 5px;
        }

        .rmma-contact{
            text-align: center;
        }

        label.rmma-receipt-item.rmma-text-right {
            padding-right: 210px;
            font-weight: 800;
        }

        .rmma-content{
            padding: 10px;
        }

        .rmma-body {
            width: 578px;
            margin: auto;
        }

        .rmma-receipt-container {
            display: -webkit-flex;
            display: flex;
            width: 100%;
        }

        div.rmma-container p{
            margin-top: 0px
        }

        .rmma-or-number{
            float: left;
            padding: 10px;
        }

        .rmma-issued-by {
            width: 40%;
            float: right;
            padding: 10px;
        }

        .rmma-receipt-item {
            width: 100%;
            /* margin: 10px; */
        }

        p.rmma-contact {
            margin-top: 4px;
        }

        h3.rmma-header {
            font-size: initial;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
        }

        .rmma-receipt-item {
            font-size: initial;
        }

        .rmma-logo {
            width: 15%;
            margin-top: 20px;
            height: 50px;
        }
        .cms-container{
            text-align: center;
        }

        label.rmma-receipt-item.rmma-text-right {
            padding-right: 0px;
            font-weight: 100;
        }

        .rmma-big{
            line-height: 200%;
        }

        div.modal-footer{
            margin-top: 62px;
        }

        .body {
            /*border-style: dotted;*/
            /*width: 50%;*/
        }

        .container {
          display: flex; /* or inline-flex */
          padding: 0;
          margin: 0;
          list-style: none;

          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;

          -webkit-flex-flow: row wrap;
          justify-content: space-around;
          margin: auto;
        }

        .containerItem{
          padding: 5px;
          /* border-style: dotted; */
          width: 48%;
          height: 50%;
          border-width: thin;
          font-size: 80%;
        }

        input.rmmaIssuedBy {
            border-top-style: unset;
            border-bottom-style: outset;
            border-left-style: hidden;
        }

    </style>
    <div class="container">
        <div class="containerItem">
            <label for="">DSR Copy</label>
            <label for="" style="float: right;">Date: <span class="date_now"></span></label>
            <div class ="body print-previews"></div>
        </div>
        <div class="containerItem">
            <label for="">Client Copy</label>
            <label for="" style="float: right;">Date: <span class="date_now"></span></label>
            <div class="body print-previews"></div>
        </div>

    </div>
</div>

<div id="printPreview" class="hidden" >
    <style type="text/css">
        /*new code*/
        .rmma-receipt-container {
            display: -webkit-flex;
            display: flex;
            width: 100%;
        }

        .rmma-text-right{
            text-align: right;
        }

        label.rmma-receipt-item.rmma-text-right {
            padding-right: 210px;
            font-weight: 800;
        }

        .rmma-receipt-item {
            width: 100%;
            margin: 10px;
        }

        .rmma-receipt-header {
            width: 100%;
            height: 100px;
            margin: auto;
        }

        .rmma-location{
            text-align: center;
            margin: 5px;
        }

        .rmma-contact{
            text-align: center;
        }

        label.rmma-receipt-item.rmma-text-right {
            padding-right: 210px;
            font-weight: 800;
        }

        .rmma-content{
            padding: 10px;
        }

        .rmma-body {
            width: 578px;
            margin: auto;
        }

        .rmma-receipt-container {
            display: -webkit-flex;
            display: flex;
            width: 100%;
        }

        div.rmma-container p{
            margin-top: 0px
        }

        .rmma-or-number{
            float: left;
            padding: 10px;
        }

        .rmma-issued-by {
            width: 40%;
            float: right;
            padding: 10px;
        }

        .rmma-receipt-item {
            width: 100%;
            /* margin: 10px; */
        }

        p.rmma-contact {
            margin-top: 4px;
        }

        h3.rmma-header {
            font-size: initial;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
        }

        .rmma-receipt-item {
            font-size: initial;
        }

        .rmma-logo {
            width: 15%;
            margin-top: 20px;
            height: 50px;
        }
        .cms-container{
            text-align: center;
        }

        label.rmma-receipt-item.rmma-text-right {
            padding-right: 0px;
            font-weight: 100;
        }

        .rmma-big{
            line-height: 200%;
        }

        div.modal-footer{
            margin-top: 62px;
        }
        .body {
            /*border-style: dotted;*/
            /*width: 50%;*/
        }
    </style> 
    <div class ="body print-previews"></div>
</div>
