<style>
    .btn-circle {
        border-radius: 50px;
        border-style: none;
        height: 31px !important;
    }

    .card-footer {
        position: absolute;
        right: 35px;
        font-size: larger;
    }

    div.tools.pad-top{
        padding: 5px 0 0px !important;
    }

    .color-white{
        color: white;
    }

    .spiner {

        text-align: center;
        font-size: large;
        color: #00c4ff;

        -webkit-animation-name: spin;
        -webkit-animation-duration: 4000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 4000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 4000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;        
    }

    @-ms-keyframes spin {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
    }
    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }

    .input-danger{
        border-color: red !important;
    }
</style>

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb" id="partnerBreadCrumbs">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Business Partner</span>
                    <!-- <i class="fa fa-angle-right"></i> -->
                </li>   
            </ul>            
        </div>
  		<div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                   <strong> <i class="fa fa-users"></i>  Business Partner </strong> </div>
                <div class="tools pad-top" id="form_Options">
                    <a href="#javasript:;" class="btn btn-outline green btn-circle" id="btb_addbusinessPartner"> <strong> <i class="fa fa-plus color-white"></i> </strong> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="form_businessPartner_div">
                    <h4 class="block">Business Partner List</h4>
                    <table class="display nowrap" cellspacing="0" width="100%" id="tbl_businessPartners">
                        <thead>
                            <tr>
                                <th> Name </th>
                                <th> Address </th>
                                <th> Email </th>
                                <th> Contact No </th>
                                <th> </th>
                            </tr> 
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
