<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Agent</span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Add</span>
                </li>
            </ul>
            
        </div>

      		<div class="portlet box blue ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-users"></i> Add Agent </div>
                        <div class="tools">
                            <!-- <a href="" class="collapse"> </a>
                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                            <a href="" class="reload"> </a>
                            <a href="" class="remove"> </a> -->
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form addAgentForm" role="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                           <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control agentFname" id="form_control_1" >
                                                <label for="form_control_1">First Name</label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">   
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control agentLname" id="form_control_1" >
                                                <label for="form_control_1">Last Name</label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control agentMname" id="form_control_1" >
                                                <label for="form_control_1">Middle Name</label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div> 
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <select class="form-control edited agentPositionList" >
                                                    <option value="1">Sales Director Head</option>
                                                    <option value="2">Sales Director</option>
                                                    <option value="3">Unit Manager</option>
                                                    <option value="4">Manager</option>
                                                    <option value="5">Agent</option>
                                                </select>
                                                <label for="form_control_1">Position</label>
                                                <span class="help-block"></span>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row agentListContainer hidden ">
                                    <div class="form-group">
                                        <div class="col-md-3 col-md-offset-9">  
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <select class="form-control edited agentList" >
                                                </select>
                                                <label for="form_control_1">Agent Position name here</label>
                                                <span class="help-block"></span>
                                            </div> 
                                        </div>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control agentAddress" id="form_control_1" >
                                                <label for="form_control_1">Address</label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control agentEmail" id="form_control_1" >
                                                <label for="form_control_1">Email</label>
                                                <span class="help-block"></span>
                                            </div> 
                                        </div>

                                        <div class="col-md-3">  
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control agentAccountNumber" id="form_control_1" >
                                                <label for="form_control_1">Account Number</label>
                                                <span class="help-block"></span>
                                            </div> 
                                        </div>

                                        <div class="col-md-3">  
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" class="form-control agentContactNumber" id="form_control_1" >
                                                <label for="form_control_1">Contact No.</label>
                                                <span class="help-block"></span>
                                            </div> 
                                        </div>  
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right1">
                                <button type="button" class="btn btn-outline green btnSumbitAgent"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
    	</div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
