<link href="addons/metronic/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
<style>
    .form-inline{
        display: inline-flex
    }
        
    .field-inline{
        display: inline;
        margin: 3px;
    }

    .user-form-agent{
        height: 165px;
    }

    .padding-left-16{
        padding-left: 16px;
    }

    .tab-active > a {
        color: #169ef4 !important;
        text-decoration: none !important;
        background: #ecf5fb !important;
        border-left: solid 2px #169ef4 !important;
        font-weight: bold !important;
    }

    .label-error{
        border-bottom: 2px solid #ff0018 !important;
    }

</style>

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper agentProfilePage">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#javascript" id="bckAgentList"> <span >Agent List</span> </a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Profile</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="pull-right">
                    <button style="margin: 5px" type="button" class="btn blue-chambray btn-sm btn-outline dropdown-toggle returnToAgentList" data-toggle="dropdown"> View All Agents</button>
                </div>
            </div>
        </div>
        <div class="profile">
            <div class="tabbable-line tabbable-full-width">
                <div class="row">
                    <div class="col-md-3">
                        <form id="agentPrifilePicture" method="" action="">
                            <ul class="list-unstyled profile-nav">
                                <li>
                                    <img src="images/no_image.jpg" class="img-responsive pic-bordered" alt="" id="btnfile">
                                    <input type="hidden" class="imageAgentID" name="dataID" value="" />
                                    <input type="hidden" name="MAX_FILE_SIZE" value="10000000000000" />
                                    <input name="file_uploads" accept=".jpg, .png, .jpeg, .gif" type="file" id="file_uploads" style="display: none;">
                                    </img>
                                    <a href="javascript:;" class="profile-edit hidden" style="text-decoration: none"> Click image to select file</a>
                                </li>

                                <li>
                                    <button type="submit" class="btn btn-outline blue hidden img-update updateAgentImageProfile" style="width: 100%"><span  class="icon-cloud-upload"> </span> Upload</button>
                                </li>

                                <li class="tab-active">
                                    <a href="#tab_1_1" data-toggle="tab" class="active-tab"> Overview </a>
                                </li>

                                <li>
                                    <a href="#tab_1_2" data-toggle="tab" class="active-tab"> Properties
                                    <!-- <span> 3 </span> --></a>
                                </li>

                                <li id="tab_updateInfo">
                                    <a href="#tab_1_3" data-toggle="tab" class="active-tab"> Update Information </a>
                                </li>

                                <li id="tab_loginSettings">
                                    <a href="#agentLoginSettings" data-toggle="tab" class="active-tab"> Login Settings </a>
                                </li>

                            </ul>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <!--start tab_1_1-->
                            <div class="tab-pane active agentProfileTab" id="tab_1_1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <!-- <h1 class="font-green sbold uppercase">John Doe</h1> -->
                                                <div class="portlet sale-summary">
                                                    <div class="portlet-title" style="padding: 0px 10px">
                                                        <div class="caption font-green sbold uppercase margin-10px agentFullName"> NONE </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <ul class="list-unstyled" style="padding: 0px 10px;">
                                                            <li>
                                                                <span class="sale-info margin-10px ">Address :
                                                                <i class="fa fa-img-up"></i>
                                                            </span>
                                                                <span class="sale-num margin-10px agentFullAddress"> NONE </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info margin-10px"> Email :
                                                                <i class="fa fa-img-down"></i>
                                                            </span>
                                                                <span class="sale-num margin-10px agentFullEmail"> NONE </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info margin-10px">Contact No : </span>
                                                                <span class="sale-num margin-10px agentFullContactNumber"> NONE </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info margin-10px">Position : </span>
                                                                <span class="sale-num margin-10px agentFullPosition"> NONE </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info margin-10px">Account Number : </span>
                                                                <span class="sale-num margin-10px agentAccountNumber"> NONE </span>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="dashboard-stat2 ">
                                                    <div class="display">
                                                        <div class="number">
                                                            <h3 class="font-purple-soft">
                                                                <span data-counter="counterup" class="totalClients" data-value="0">0</span>
                                                            </h3>
                                                            <small>Clients</small>
                                                        </div>
                                                        <div class="icon">
                                                            <i class=" icon-users"></i>
                                                        </div>
                                                    </div>
                                                    <div class="progress-info">
                                                        <div class="progress">
                                                            <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
				                                            <span class="sr-only">56% change</span>
                                                            </span>
                                                        </div>
                                                        <div class="status">
                                                            <div class="status-title"> change </div>
                                                            <div class="status-number"> 57% </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="dashboard-stat2 ">
                                                    <div class="display">
                                                        <div class="number">
                                                            <h3 class="font-green-sharp">
                                                                <span data-counter="counterup" class="totalProp" data-value="0">0</span>
                                                            </h3>
                                                            <small>Properties</small>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="icon-pie-chart"></i>
                                                        </div>
                                                    </div>
                                                    <div class="progress-info">
                                                        <div class="progress">
                                                            <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
				                                            <span class="sr-only">76% progress</span>
                                                            </span>
                                                        </div>
                                                        <div class="status">
                                                            <div class="status-title"> progress </div>
                                                            <div class="status-number"> 76% </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="dashboard-stat2 ">
                                                    <div class="display">
                                                        <div class="number">
                                                            <h3 class="font-blue-sharp">
                                                                <span data-counter="counterup" class="totalCom" data-value="0">₱0.00</span>
                                                            </h3>
                                                            <small> Total Commission </small>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="icon-basket"></i>
                                                        </div>
                                                    </div>
                                                    <div class="progress-info">
                                                        <div class="progress">
                                                            <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
				                                            <span class="sr-only">45% grow</span>
                                                            </span>
                                                        </div>
                                                        <div class="status">
                                                            <div class="status-title"> grow </div>
                                                            <div class="status-number"> 45% </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-md-4-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                </div>
                            </div>
                            <!-- start tab_1_2-->
                            <div class="tab-pane" id="tab_1_2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">

                                        </div>
                                        <div class="portlet-body">
                                            <div class="tabbable-line">
                                                <ul class="nav nav-tabs ">
                                                    <li class="active">
                                                        <a href="#tab_15_1" data-toggle="tab"> Property </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_15_2" data-toggle="tab"> Commission History   </a>
                                                    </li>
                                                    <li>
                                                        <a href="#reprintComRel" data-toggle="tab">  Print Released Com   </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_15_1">

                                                        <div class="row">
                                                            <div class="col-md-12 text-right">
                                                                <label class="form-label sbold txtCom">Total Com: <span class="totalCom font-red">0</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="portlet sale-summary">
                                                            <div class="portlet-title" style="padding: 0 8px;">
                                                                <div class="caption font-red sbold margin-10px"> Property Name </div>
                                                                <div class="tools font-red sbold">
                                                                    Agent Commission Collectible
                                                                </div>
                                                            </div>
                                                            <div class="portlet-body">
                                                                <ul class="list-unstyled agentProp" style="height: 280px; overflow-y: auto; padding: 0 8px;">

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane" id="tab_15_2">
                                                        <div class="portlet-body">
                                                            <div class="portlet light portlet-fit portlet-datatable">
                                                                <div class="portlet-title" style="padding-bottom: 0px; padding-top: 10px; margin-bottom: 0px;">
                                                                    <div class="caption">
                                                                        <i class="icon-wallet font-blue"></i>
                                                                        <span class="caption-subject font-blue sbold uppercase">Commission Released </span>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="btn-group">
                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-3 font-blue sbold uppercase" style="padding-right: 0px; margin-top: 6px">Date Range</label>
                                                                                <div class="col-md-4" style="padding-left: 0px">
                                                                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                                                        <input type="text" class="form-control dateFrom" name="from">
                                                                                        <span class="input-group-addon"> to </span>
                                                                                        <input type="text" class="form-control dateTo" name="to">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="btn-group">
                                                                            <a class="btn green btn-outline btn-searchComDate">
                                                                                <i class="fa fa-share"></i>
                                                                                <span class="hidden-xs"> Submit </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body" id="print-payment-history">
                                                                    <div class="dont-hide hidden">
                                                                        <label class="form-label">sample text</label>
                                                                    </div>
                                                                    <div class="table-container comContainer">
                                                                        <table id="comRelTable" class="display" cellspacing="0" width="100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Receipt #</th>
                                                                                    <th>Date</th>
                                                                                    <th>Property Name</th>
                                                                                    <th>Amount</th>
                                                                                    <th>Comm</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tfoot>
                                                                                <tr>
                                                                                    <th colspan="4" style="text-align:right">Total: </th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </tfoot>
                                                                            <tbody>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane" id="reprintComRel">
                                                        <div class="portlet-body">
                                                            <div class="portlet light portlet-fit portlet-datatable">
                                                                <div class="portlet-title" style="padding-bottom: 0px; padding-top: 10px; margin-bottom: 0px;">
                                                                    <div class="caption">
                                                                        <i class="icon-wallet font-blue"></i>
                                                                        <span class="caption-subject font-blue sbold uppercase"> Commission List </span>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body" id="print-payment-history">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group form-inline">
                                                                                <select name="com_SearchType" id="slt_searComType" class="form-control field-inline select2">
                                                                                    <option value="0">OR #</option>
                                                                                    <option value="1">Date Release</option>
                                                                                </select>
                                                                                <input type="text" id="txt_searchWithSelecteOption" class="form-control field-inline" placeholder="Search for date or or number">
                                                                                <button class="btn btn-outline blue field-inline" id="btn_searhThisCom"> <span class="fa fa-search"></span> </button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 text-right">
                                                                            <button class="btn btn-danger" id="btn_printRelCom"> <span class="fa fa-print"></span> </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="table-container comContainer">
                                                                        <table id="tbl_releasedCom" class="display" cellspacing="0" width="100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Buyers Name</th>
                                                                                    <th>Property</th>
                                                                                    <th>TCP</th>
                                                                                    <th>Payment</th>
                                                                                    <th>Amount</th>
                                                                                </tr>
                                                                            </thead>
                                                                             <tfoot>
                                                                                <tr>
                                                                                    <th colspan="4" style="text-align:right">Total: <span id="totalAmount"> </span></th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </tfoot>
                                                                            <tbody>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--   start tab_1_3 -->
                            <div class="tab-pane" id="tab_1_3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="portlet box green ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <strong> <i class="fa fa-id-card"></i> Update Info </strong> </div>
                                                <div class="tools">
                                                    <!-- <a href="" class="collapse"> </a>
                                                <a href="" class="reload"> </a> -->
                                                </div>
                                            </div>
                                            <div class="portlet-body form">
                                                <div class="form updateAgentForm" role="form">
                                                    <div class="form-body">
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="col-md-3">
                                                                    <div class="form-group form-md-line-input">
                                                                        <input type="text" class="form-control update_agentFname" id="txt_fname_agent">
                                                                        <label for="txt_fname_agent">First Name</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group form-md-line-input">
                                                                        <input type="text" class="form-control update_agentLname" id="txt_lnane_agent">
                                                                        <label for="txt_lnane_agent">Last Name</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group form-md-line-input">
                                                                        <input type="text" class="form-control update_agentMname" id="txt_mname_agentForm">
                                                                        <label for="txt_mname_agentForm">Middle Name</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group form-md-line-input">
                                                                        <select class="form-control edited agentPositionList">
                                                                        <option value="1">Sales Director Head</option>
                                                                        <option value="2">Sales Director</option>
                                                                        <option value="3">Unit Manager</option>
                                                                        <option value="4">Manager</option>
                                                                        <option value="5">Agent</option>
                                                                    </select>
                                                                        <label for="lbl_position">Position</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row agentListContainer hidden ">
                                                            <div class="form-group">
                                                                <div class="col-md-3 col-md-offset-9">
                                                                    <div class="form-group form-md-line-input">
                                                                        <select class="form-control edited agentList">
                                                                    </select>
                                                                        <label for="lbl_posname">Agent Position name here</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="col-md-6">
                                                                    <div class="form-group form-md-line-input">
                                                                        <input type="text" class="form-control update_agentAddress" id="txt_address_agent">
                                                                        <label for="txt_address_agent">Address</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group form-md-line-input">
                                                                        <input type="text" class="form-control update_agentEmail" id="txt_email_agent">
                                                                        <label for="txt_email_agent">Email</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group form-md-line-input">
                                                                        <input type="text" class="form-control update_agentAccountNumber" id="txt_account_agent">
                                                                        <label for="txt_account_agent">Account Number</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group form-md-line-input">
                                                                        <input type="text" class="form-control update_agentContactNumber" id="txt_contact_agent">
                                                                        <label for="txt_contact_agent">Contact No.</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions right1">
                                                        <button type="button" data-id="" class="btn btn-outline green agentID btnUpdateAgent"><i class="fa fa-paper-plane" aria-hidden="true"></i> Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="agentLoginSettings">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="portlet box green ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <strong><i class="fa fa-lock"></i> Login Settings </strong> </div>
                                                <div class="tools">
                                                    <!-- <a href="" class="collapse"> </a>
                                                <a href="" class="reload"> </a> -->
                                                </div>
                                            </div>
                                            <div class="portlet-body form">
                                                <div class="form " role="form">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-body">
                                                                <div class="row">
                                                                    <h4> <strong class="padding-left-16"> Username </strong> </h4>
                                                                    <div class="form-group user-form-agent">
                                                                        <div class="col-md-offset-1 col-md-10">
                                                                            <div class="form-group form-md-line-input ">
                                                                                <input type="text" class="form-control" id="txt_username_agent">
                                                                                <label for="txt_username_agent">Username</label>
                                                                                <span class="help-block"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-actions text-right">
                                                                <button type="button" data-id="" class="btn btn-outline green" id="btn_setUsername_agent"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit  </button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-body">
                                                                <div class="row">
                                                                    <h4> <strong> Password </strong> </h4>
                                                                    <div class="form-group">
                                                                        <div class="col-md-offset-1 col-md-10">
                                                                            <div class="form-group form-md-line-input">
                                                                                <input type="password" class="form-control" id="txt_newPass_agent">
                                                                                <label for="txt_newPass_agent">Password </label>
                                                                                <span class="help-block"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-offset-1 col-md-10">
                                                                            <div class="form-group form-md-line-input">
                                                                                <input type="password" class="form-control" id="txt_reTypeNew_agent">
                                                                                <label for="txt_reTypeNew_agent">Re-type password</label>
                                                                                <span class="help-block"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-actions text-right">
                                                                <button type="button" data-id="" class="btn btn-outline blue" id="btn_setPassword_agent"><i class="fa fa-key" aria-hidden="true"></i> Submit </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>

    <div class="row">
        <div class="col-md-12 hidden">
            <div id="printReleasedComForm"></div>
        </div> 
    </div>

    <script>
        $(document).ready(function() {

            $("#btnfile").click(function() {
                $("#file_uploads").click();
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('#btnfile').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }

                var x = document.getElementById("file_uploads").value;

                var path = x;
                var pos = path.lastIndexOf(path.charAt(path.indexOf(":") + 1));
                filename = path.substring(pos + 1);
                document.getElementById("imgName").value = filename;
            }

            $("#file_uploads").change(function() {
                readURL(this);
            });

            $(".active-tab").click(function() {
                $('.active-tab').parent().removeClass('tab-active');
                $(this).parent().addClass('tab-active');

                if(this.text.trim() == "Update Information"){
                    $('.updateAgentImageProfile').removeClass('hidden');
                    $('.profile-edit').removeClass('hidden');
                }else{
                    $('.updateAgentImageProfile').addClass('hidden');
                    $('.profile-edit').addClass('hidden');
                }
            });
        });
    </script>