<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Agent List</span>
                    <i class="fa fa-angle-right"></i>
                </li>
           
            </ul>
            
        </div>
      		<div class="portlet box red ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-users"></i> Agent Record </div>
                    </div>
                    <div class="portlet-body ">
                       <div class="portlet light ">
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover agentListTable" id="">
                                    <thead>
                                        <tr>
                                            <th> Name </th>
                                            <th> Address </th>
                                            <th> Position </th>
                                            <th> Email </th>
                                            <th> Contact No </th>
                                            <th> Action </th>
                                        </tr> 
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    	</div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
