<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Agent</span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Releasing of Commission</span>
                </li>
                
            </ul>
            
        </div>
            <div class="portlet box blue ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-credit-card"></i>Release Commission</div>
                </div>
                <div class="portlet-body form">
                  
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#indevRel" data-toggle="tab">Agent</a>
                            </li>
                            <li class="form-to-remove">
                                <a href="#optional" id="tab_optionalRel" data-toggle="tab"> Optional Release </a>
                            </li>
                          <!--   <li class="">
                                <a href="#propRel" data-toggle="tab">Lot</a>
                            </li>
                            <li class="">
                                <a href="#propRelALl" data-toggle="tab">Property</a>
                            </li> -->
                        <!--     <li class="">
                                <a href="#ComRelSummary" data-toggle="tab">Com Release Summary</a>
                            </li> -->
                           <!--  <li class="">
                                <a href="#ComRelDetails" data-toggle="tab">Com Release Details</a>
                            </li> -->
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="indevRel">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input">
                                                <select class="select2 form-control commissionRelaseAgentList">
                                                </select> 
                                                <label for="form_control_1">Agent Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-6 col-md-3 form-to-remove">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" required="" class="form-control date-picker releaseDate" name=""> 
                                                <label for="form_control_1">Date Release</label>
                                            </div>
                                        </div>
                                   </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <table class="table table-striped table-bordered table-hover commisionReleasingTableListOfProperties" id="" style="margin: 0px !important;">
                                                    <colgroup>
                                                        <col width="5%">
                                                        <col width="20%">
                                                        <col width="50%">
                                                        <col width="10%">
                                                        <col width="10%">
                                                        <col width="10%">
                                                        <col width="10%">
                                                    </colgroup>

                                                    <thead>
                                                        <tr>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">ID</th>
                                                            <th data-field="name" data-align="center" data-sortable="true">Buyer's Name</th>
                                                            <th data-field="price" data-sortable="true" data-sorter="true">Property</th>
                                                            <th data-field="date" data-sortable="true" data-sorter="true">TCP</th>
                                                            <th data-field="date" data-sortable="true" data-sorter="true">Payment</th>
                                                            <th data-field="date" data-sortable="true" data-sorter="true">Amount</th>
                                                            <th data-field="date" data-sortable="true" data-sorter="true">Mode of Payment</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>        
                                                </table>
                                            <!-- END FORM-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 form-to-remove">
                                             <div class="form-group form-md-line-input ">
                                                <input type="number" required class="form-control releaseNO" disabled="" placeholder="" name="releaseNO" id="txt_OrNumber">
                                                <label class="control-label" for="form_control_1"> No:
                                                </label>
                                                <div class="form-control-focus"> </div>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                             <div class="form-group form-md-line-input ">
                                                <input type="text" disabled="true" class="form-control releaseCount" placeholder="" name="releaseCount">
                                                <label class="control-label" for="form_control_1"> Release No:
                                                </label>
                                                <div class="form-control-focus"> </div>
                                                <span class="help-block"></span>
                                            </div>
                                        </div> -->
                                    	<div class="col-md-offset-3 col-md-6 text-right">
                                            <div class="form-group text-right">
                                                <label class="form-label sbold">Total Commission to Release :<span style="padding-left: 5px; color: red" class="agentTotalCommision"> P0.00</span></label>
                                            </div> 
                                        </div>
                                    </div> 
                                </div>
                                <div class="form-actions right1 text-right form-to-remove">
                                    <button type="submit" class="btn btn-outline green btnreleaseThisCommision" data-amountToRelease="0">Release</button>
                                </div>
                            </div>
                            <div class="tab-pane " id="propRel">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input">
                                                <select class="select2 form-control commissionPopertyList">
                                                </select> 
                                                <label for="form_control_1">Property Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-3 col-md-3 form-to-remove">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" required="" class="form-control date-picker releaseDateByproperty" name=""> 
                                                <label for="form_control_1">Date Release</label>
                                            </div>
                                        </div>
                                   </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <table class="table table-striped table-bordered table-hover commssionReleasingTableListAgent" id="" style="margin: 0px !important;">
                                                    <colgroup>
                                                        <col width="30%" >
                                                        <col width="10%">
                                                        <col width="10%">
                                                        <col width="20%">
                                                    </colgroup>

                                                    <thead>
                                                        <tr>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">Name</th>
                                                            <th data-field="position" data-align="center" data-sortable="true">Position</th>
                                                            <th data-field="name" data-align="center" data-sortable="true">%</th>
                                                            <th data-field="price" data-sortable="true" data-sorter="true">Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>        
                                                </table>
                                            <!-- END FORM-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 form-to-remove">
                                             <div class="form-group form-md-line-input ">
                                                <input type="number" required class="form-control releaseNORroperty"  disabled="" placeholder="" name="releaseNORroperty">
                                                <label class="control-label" for="form_control_1">Release No:
                                                </label>
                                                <div class="form-control-focus"> </div>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-3 col-md-6 text-right">
                                            <div class="form-group text-right">
                                                <label class="form-label sbold">Total Commission to Release :<span style="padding-left: 5px; color: red" class="propertyTotalCommission"> P0.00</span></label>
                                            </div> 
                                        </div>
                                    </div> 
                                </div>
                                <div class="form-actions right1 text-right form-to-remove">
                                    <button type="submit" class="btn btn-outline green btnReleaseThisTotalAgentCommission" data-amountToRelease="0">Release</button>
                                </div>
                            </div>
                            <div class="tab-pane " id="propRelALl">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input">
                                                <select class="select2 form-control commissionPopertyAllList">
                                                </select> 
                                                <label for="form_control_1">Property Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-3 col-md-3">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" required="" class="form-control date-picker ReleaseByProperty" name=""> 
                                                <label for="form_control_1">Date Release</label>
                                            </div>
                                        </div>
                                   </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <table class="table table-striped table-bordered table-hover commssionReleasingTableListAgentUnderProperty" id="" style="margin: 0px !important;">
                                                    <colgroup>
                                                        <col width="20%" >
                                                        <col width="30%">
                                                        <col width="5%">
                                                        <col width="5%">
                                                        <col width="5%">
                                                        <col width="5%">
                                                        <col width="15%">
                                                        <col width="15%">
                                                    </colgroup>

                                                    <thead>
                                                        <tr>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">Name</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">Property Name</th>
                                                            <th data-field="ph" data-align="center" data-sortable="true">Ph</th>
                                                            <th data-field="blk" data-align="center" data-sortable="true">Blk</th>
                                                            <th data-field="lt" data-align="center" data-sortable="true">Lt</th>
                                                            <th data-field="name" data-align="center" data-sortable="true">%</th>
                                                            <th data-field="position" data-align="center" data-sortable="true">Position</th>
                                                            <th data-field="price" data-sortable="true" data-sorter="true">Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>        
                                                </table>
                                            <!-- END FORM-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                             <div class="form-group form-md-line-input ">
                                                <input type="number" required class="form-control releaseAllNORroperty" placeholder="" name="releaseNORroperty">
                                                <label class="control-label" for="form_control_1">Release No:
                                                </label>
                                                <div class="form-control-focus"> </div>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-3 col-md-6 text-right">
                                            <div class="form-group text-right">
                                                <label class="form-label sbold">Total Commission to Release :<span style="padding-left: 5px; color: red" class="propertyAllTotalCommission"> P0.00</span></label>
                                            </div> 
                                        </div>
                                    </div> 
                                </div>
                                <div class="form-actions right1 text-right">
                                    <button type="submit" class="btn btn-outline green btnReleaseThisTotalAgentCommissionunderProperty" data-amountToRelease="0">Release</button>
                                </div>
                            </div> 
                            <div class="tab-pane " id="ComRelSummary">
                                <div class="form-body">
                                    <div class="row" style="margin-bottom: 5px">
                                        <div class="col-md-6 ">
                                            <div class="form-inline">
                                               <div class="form-group" >   
                                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control dateFromComSum" name="from">
                                                        <span class="input-group-addon"> to </span>
                                                        <input type="text" class="form-control dateToComCum" name="to"> 
                                                    </div>
                                                </div>
                                                <div class="form-group" >   
                                                    <a href="javascript:;" class="btn btn-outline green btn_comSummary"><span class="fa fa-search"> </span> Search</a>
                                                </div>
                                            </div>    
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <table class="table table-striped table-bordered table-hover CommisisonReleaseSummary" id="" style="margin: 0px !important;">
                                                    <colgroup>
                                                        <col width="20%" >
                                                        <col width="30%">
                                                        <col width="5%">
                                                    </colgroup>

                                                    <thead>
                                                        <tr>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">Account Number</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">Agent Name</th>
                                                            <th data-field="ph" data-align="center" data-sortable="true">Commission</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>        
                                                </table>
                                            <!-- END FORM-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="ComRelDetails">
                                <div class="form-body">
                                    <div class="row" style="margin-bottom: 5px">
                                        <div class="col-md-6 ">
                                            <div class="form-inline">
                                               <div class="form-group" >   
                                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="form-control dateFromthis" name="from">
                                                        <span class="input-group-addon"> to </span>
                                                        <input type="text" class="form-control dateTothis" name="to"> 
                                                    </div>
                                                </div>
                                                <div class="form-group" >   
                                                    <a href="javascript:;" class="btn btn-outline green btn_searchThisDate"><span class="fa fa-search"> </span> Search</a>
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input">
                                                <select class="select2 form-control getCommissionList">
                                                    <option value="0">All</option>
                                                </select> 
                                                <label for="form_control_1">Property Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-3 col-md-3">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" required="" class="form-control date-picker ReleaseByProperty releaseThidate" name=""> 
                                                <label for="form_control_1">Date Release</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <table class="table table-striped table-bordered table-hover ComReleaseDetails thisSummary" id="" style="margin: 0px !important;">
                                                    <thead>
                                                        <tr>
                                                            <th data-field="clientID" data-align="center" data-sortable="true" class="Bname">Buyers Name</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">Ph</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">Blk</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">Lt</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">TCP</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">Add Com</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">CRS</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true" class="size">SD</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true" class="size">Unit Manager</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true" class="size">Manager</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true" class="size">Agent</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true" class="size">SDH</th>
                                                            <th data-field="clientID" data-align="center" data-sortable="true">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>        
                                                </table>
                                            <!-- END FORM-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                             <div class="form-group form-md-line-input ">
                                                <input type="number" required class="form-control releaseAllNORroperty ThisOrnumber" placeholder="" name="releaseNORroperty">
                                                <label class="control-label" for="form_control_1">Release No:
                                                </label>
                                                <div class="form-control-focus"> </div>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right1 text-right">
                                    <button type="submit" class="btn btn-outline green btnRelaseThis" data-amountToRelease="0">Release</button>
                                </div>
                            </div>


                            
                            <div class="tab-pane " id="optional">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input">
                                                <select class="select2 form-control" id="slt_opAgentlisty">
                                                </select> 
                                                <label for="form_control_1">Agent Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-6 col-md-3">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" required="" class="form-control date-picker op_releaseDate" name=""> 
                                                <label for="form_control_1">Date Release</label>
                                            </div>
                                        </div>
                                   </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <table class="table table-striped table-bordered table-hover commissionReloptional" id="" style="margin: 0px !important;">
                                                    <colgroup>
                                                        <col width="5%">
                                                        <col width="20%">
                                                        <col width="50%">
                                                        <col width="10%">
                                                        <col width="10%">
                                                        <col width="10%">
                                                        <col width="10%">
                                                    </colgroup>

                                                    <thead>
                                                        <tr>
                                                            <th data-field="clientID" data-align="center"> <input type="checkbox" class="icheck ck_properyParent" checked> </th>
                                                            <th data-field="name" data-align="center" data-sortable="true">Buyer's Name</th>
                                                            <th data-field="price" data-sortable="true" data-sorter="true">Property</th>
                                                            <th data-field="date" data-sortable="true" data-sorter="true">TCP</th>
                                                            <th data-field="date" data-sortable="true" data-sorter="true">Payment</th>
                                                            <th data-field="date" data-sortable="true" data-sorter="true">Amount</th>
                                                            <th data-field="date" data-sortable="true" data-sorter="true">Mode of Payment</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>        
                                                </table>
                                            <!-- END FORM-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                             <div class="form-group form-md-line-input ">
                                                <input type="number" required class="form-control releaseNO" disabled="" placeholder="" name="releaseNO" id="txt_remcomnumOp">
                                                <label class="control-label" for="form_control_1"> No:
                                                </label>
                                                <div class="form-control-focus"> </div>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                             <div class="form-group form-md-line-input ">
                                                <input type="text" disabled="true" class="form-control releaseCount" placeholder="" name="releaseCount">
                                                <label class="control-label" for="form_control_1"> Release No:
                                                </label>
                                                <div class="form-control-focus"> </div>
                                                <span class="help-block"></span>
                                            </div>
                                        </div> -->
                                        <div class="col-md-offset-3 col-md-6 text-right">
                                            <div class="form-group text-right">
                                                <label class="form-label sbold">Total Commission to Release :<span style="padding-left: 5px; color: red" class="agentTotalCommision"> P0.00</span></label>
                                            </div> 
                                        </div>
                                    </div> 
                                </div>
                                <div class="form-actions right1 text-right">
                                    <button type="submit" class="btn btn-outline green" id="btn_releaseOptionalCom" data-amountToRelease="0">Release</button>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<div class="releaseReport hidden " id="releaseReport">
  <style type="text/css" class="cssList"></style>
  <div id="prinadw">
     
    <div class="cms-container cms-text-center">
      <img src="images/logo-invert.jpg" class="cms-logo">
    </div>

    <div class="cms-container">
      <h2 class="cms-text-center headerTitle" style="margin-bottom: 5px; margin-top: 0px;">R AND SONS Co.</h2>
     <p class="cms-text-center" style="margin:0px;">Address: 2nd floor S10 at The Paddock, J.Camus St.</p>
                      <p class="cms-text-center" style="margin:0px;">Corner General Luna St. , Brgy. 4-A Poblacion District,</p>
                      <p class="cms-text-center" style="margin:0px;">Davao City, Davao del Sur, Philippines 8000</p>
                      <p class="cms-text-center" style="margin:0px;">Telephone Number (082) 235-1146</p>
    </div>

    <div class="cms-container cms-margin-top">
        <div class="cms-col-md-12">
            <div class="cms-form-group">
                <label class="cms-bold cms-toUppecase"> Name :<span class="cms-pdng-5 cms-text-normal cms-red cms-bold lbl_agentName"> Dohn Doe Monroe </span> </label> 
            </div>
        </div>
    </div>
    

    <div class="cms-container ">    
       <!--  <div class="cms-form-group" style=" width: 49%; float: left; display: inline;">
            <label class="cms-bold cms-toUppecase">Total Commission <span class="cms-pdng-5 cms-text-normal cms-red cms-bold totalCommissionClaimed">: P120,000,000.00</span> </label> 
        </div> -->

        <div class="cms-form-group" style="width: 49%; float: right; text-align: right; display: inline;">
            <label class="cms-bold cms-toUppecase">Release Date: <span class="releaseDate" style=""> Jan, 20 2018  </span></label>
        </div>
    </div>

    <div class="cms-container">
        <div class="cms-col-md-12">
            <table class="cms-tables">
              <tr>
                <th>Buyer's Name</th>
                <th>Property</th>
                <th>TCP</th>
                <th>Payment</th>
                <th>Amount</th>
              </tr>
            </table>
        </div>

        <div class="cms-col-md-12" style="text-align: left">
            <label class="NoLeb">NO: <span class="relSpan"></span></label>
            <label class="cms-bold" style ="padding-left: 10px; float: right"> WTX: <span class="cms-pdng-5 cms-text-normal txt_wtx"></span> </label>
        </div>

        <div class="cms-col-md-12" style="margin-top: -14px">
            <label class="NoLeb"> Recieved By: <span class="lbl_agentName" style="text-decoration: underline"></span></label>
            <label class="cms-bold" style="float: right">Gross Com: <span class="cms-pdng-5 cms-text-normal cms-red cms-bold totalGrosCom"> </span> </label> 
        </div>

        <div class="row">
            <div class="col-md-12" style="float: right;">
                <span style="padding-left: 60px; color: gray; margin-top: -13px; display: block;"> Signature over Printed Name </span>
                <label class="cms-bold" style="float: right; padding-right: 7px; margin-top: -21px;">Net Com :<span class="cms-pdng-5 cms-text-normal cms-red cms-bold totalCommissionClaimed">:</span> </label> 
            </div>
        </div>

    </div>
  </div>
</div>


<div class="row" style="margin-right: 0px;"> 
    <div class="col-md-12">
        <div class="releaseReport2 hidden" id="releaseReport2">
            <style type="text/css">
                .content-header{
                    margin-bottom: 5px: 
                }

                p{
                    margin: 0px,0px;
                }   

                .cms-container{
                    padding: 5px; 
                }

                .cms-col-md-12{
                  margin: 0 auto;
                  max-width: 100%;
                  border-radius: 3px;
                  padding: 15px; 
                }

                .cms-form-group{
                    padding:5px;
                    width: 100%;
                }

                .cms-bold{
                    font-weight: bold;
                }

                .cms-toUppecase{
                    text-transform: uppercase;
                }

                .cms-row{
                    width: 100%;
                }

                .cms-red{
                    color: red;
                }

                .cms-pdng-5{
                    padding-left: 5px;
                }

                table.cms-tables {
                    border-collapse: collapse;
                    width: 100%;
                    font-size: 80% !important;
                    color: black;
                }

                table.cms-tables tbody  tr th, table.cms-tables tbody  tr td{
                    padding: 8px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                }

                 table.cms-tables tbody  tr th, table.cms-tables tbody  tr td {
                    border: 1px solid #ddd;
                    text-align: left;
                }

               table.cms-tables tbody tr:hover{background-color:#f5f5f5}

               table.cms-tables tbody tr th {
                    background-color: #4CAF50;
                    color: white;
                }

                .cms-text-right{
                    text-align: right;
                }

                .cms-text-normal{
                    font-weight: normal;
                }

                .cms-text-center{
                    text-align: center;
                }

                .cms-pdng-right{
                    padding-right: 5px;
                }

                .cms-num{
                    width: 5%
                }

                .cms-logo{
                   width: 42%;
                   height: 87px;
                }

                .cms-margin-top {
                    margin-top: 32px;
                }

                .cms-col-md-12 {
                    margin: 0 auto;
                    max-width: 100%;
                    border-radius: 3px;
                    padding: 7px;
                }

                span.releaseDate {
                    font-size: small;
                    font-weight: 400;
                }

                span.cms-pdng-5.cms-text-normal.cms-red.cms-bold.lbl_agentName {
                    color: #292929;
                }

                .reldate{
                    text-align: right;
                    float: right;
                    width: 49%;
                }

                .flex-container {
                  padding: 0;
                  margin: 0;
                  list-style: none;
                  
                  display: -webkit-box;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: -webkit-flex;
                  display: flex;
                  
                  -webkit-flex-flow: row wrap;
                  justify-content: space-around;
                }

                .flex-item {
                  width: 48%;
                  height: 150px;
                  font-size: 80% !important;
                }

            </style>


            <ul class="flex-container">
                <li class="flex-item">

                    <div class="cms-col-md-12">
                        <label for="" style="float: right">RNS Copy</label>
                    </div>

                    <div class="cms-container cms-text-center">
                      <img src="images/logo-invert.jpg" class="cms-logo">
                    </div>

                    <div class="cms-container">
                      <h2 class="cms-text-center headerTitle" style="margin-bottom: 5px; margin-top: 0px;">R and Sons Properties Co.</h2>
                   <p class="cms-text-center" style="margin:0px;">Address: 2nd floor S10 at The Paddock, J.Camus St.</p>
                      <p class="cms-text-center" style="margin:0px;">Corner General Luna St. , Brgy. 4-A Poblacion District,</p>
                      <p class="cms-text-center" style="margin:0px;">Davao City, Davao del Sur, Philippines 8000</p>
                      <p class="cms-text-center" style="margin:0px;">Telephone Number (082) 235-1146</p>
                    </div>

                    <div class="cms-container cms-margin-top">
                        <div class="cms-col-md-12">
                            <div class="cms-form-group">
                                <label class="cms-bold cms-toUppecase"> Name :<span class="cms-pdng-5 cms-text-normal cms-red cms-bold lbl_agentName"> Dohn Doe Monroe </span> </label> 
                            </div>
                        </div>
                    </div>

                    <div class="cms-container">
                        <div style="white-space:nowrap; padding-left: 10px; padding-right: 10px;">
                            <!-- <label class="cms-bold cms-toUppecase">Total Commission <span class="cms-pdng-5 cms-text-normal cms-red cms-bold totalCommissionClaimed">: P120,000,000.00</span> </label>  -->
                            <label class="cms-bold cms-toUppecase" style="float: right;"> Date: <span class="releaseDate"> Jan, 20 2018 </span></label>
                        </div>
                    </div>

                    <div class="cms-container">
                        <div class="cms-col-md-12">
                            <table class="cms-tables">
                              <tr>
                                <th>Buyer's Name</th>
                                <th>Property</th>
                                <th>TCP</th>
                                <th>Payment</th>
                                <th>Amount</th>
                              </tr>
                            </table>
                        </div>

                        <div class="cms-col-md-12" style="text-align: left">
                            <label class="NoLeb">NO: <span class="relSpan"></span></label>
                            <label class="cms-bold" style ="padding-left: 10px; float: right"> WTX: <span class="cms-pdng-5 cms-text-normal txt_wtx"></span> </label>
                        </div>

                        <div class="cms-col-md-12" style="margin-top: -14px">
                            <label class="NoLeb"> Recieved By: <span class="lbl_agentName" style="text-decoration: underline"></span></label>
                            <label class="cms-bold" style="float: right">Gross Com: <span class="cms-pdng-5 cms-text-normal cms-red cms-bold totalGrosCom"> </span> </label> 
                        </div>

                        <div class="col-md-12" style="margin-top: 14px">
                            <span style="padding-left: 60px; color: gray; margin-top: -13px; display: block;"> Signature over Printed Name </span>
                            <label class="cms-bold" style="float: right; padding-right: 7px; margin-top: -21px;">Net Com :<span class="cms-pdng-5 cms-text-normal cms-red cms-bold totalCommissionClaimed">:</span> </label> 
                        </div>
                    
                    </div>
                </li>

                <li class="flex-item">
                    <div class="cms-col-md-12">
                        <label for="" style="float: right"> Agent Copy </label>
                    </div>

                    <div class="cms-container cms-text-center">
                      <img src="images/logo-invert.jpg" class="cms-logo">
                    </div>

                    <div class="cms-container">
                      <h2 class="cms-text-center headerTitle" style="margin-bottom: 5px; margin-top: 0px;">R and Sons Properties Co.</h2>
 
                      <p class="cms-text-center" style="margin:0px;">Address: 2nd floor S10 at The Paddock, J.Camus St.</p>
                      <p class="cms-text-center" style="margin:0px;">Corner General Luna St. , Brgy. 4-A Poblacion District,</p>
                      <p class="cms-text-center" style="margin:0px;">Davao City, Davao del Sur, Philippines 8000</p>
                      <p class="cms-text-center" style="margin:0px;">Telephone Number (082) 235-1146</p>
                    </div>

                     <div class="cms-container cms-margin-top">
                        <div class="cms-col-md-12">
                            <div class="cms-form-group">
                                <label class="cms-bold cms-toUppecase"> Name :<span class="cms-pdng-5 cms-text-normal cms-red cms-bold lbl_agentName"> Dohn Doe Monroe </span> </label> 
                            </div>
                        </div>
                    </div>

                    <div class="cms-container">
                        <div style="white-space:nowrap; padding-left: 10px; padding-right: 10px;">
                           <!--  <label class="cms-bold cms-toUppecase">Total Commission <span class="cms-pdng-5 cms-text-normal cms-red cms-bold totalCommissionClaimed">:</span> </label> --> 
                            <label class="cms-bold cms-toUppecase" style="float: right;"> Date: <span class="releaseDate"> Jan, 20 2018 </span></label>
                        </div>
                    </div>

                    <div class="cms-container">
                        <div class="cms-col-md-12">
                            <table class="cms-tables">
                              <tr>
                                <th>Buyer's Name</th>
                                <th>Property</th>
                                <th>TCP</th>
                                <th>Payment</th>
                                <th>Amount</th>
                              </tr>
                            </table>
                        </div>

                        <div class="cms-col-md-12" style="text-align: left">
                            <label class="NoLeb">NO: <span class="relSpan"></span></label>
                            <label class="cms-bold" style ="padding-left: 10px; float: right"> WTX: <span class="cms-pdng-5 cms-text-normal txt_wtx"></span></label>
                        </div>

                        <div class="cms-col-md-12" style="margin-top: -14px">
                            <label class="NoLeb"> Recieved By: <span class="lbl_agentName" style="text-decoration: underline"></span></label>
                            <label class="cms-bold" style="float: right">Gross Com: <span class="cms-pdng-5 cms-text-normal cms-red cms-bold totalGrosCom"> </span> </label> 
                        </div>

                        <div class="col-md-12" style="margin-top: 14px">
                            <span style="padding-left: 60px; color: gray; margin-top: -13px; display: block;"> Signature over Printed Name </span>
                            <label class="cms-bold" style="float: right; padding-right: 7px; margin-top: -21px;">Net Com :<span class="cms-pdng-5 cms-text-normal cms-red cms-bold totalCommissionClaimed">:</span> </label> 
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
