<!-- Styles -->
<style>
    #chartdiv {
        width   : 100%;
        height  : 300px;
    }       
    
    .mt-body.propList {
        padding-top: 0px;
    }

    h3.mt-body-title.propTitle {
        margin-top: 35px !important;
    }
    .total_netA, .total_netB {
        color: red;
    }

    span.label.label-sm.label-info {
        display: inline;
    }

    .cms_inline_sub{
        display: inline-block;
        padding-left: 5px;
        margin-top: 0;
    }

    span#lbl_totalTax, span#lbl_totalCom {
        font-size: medium !important;
        font-weight: 600;
    }

</style>


<div class="page-content">
<!-- BEGIN PAGE HEADER-->

<h1 class="page-title">Admin Dashboard 
    <small>statistics, charts, recent events and reports</small>
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="#Dashboard" class="toHome">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Dashboard</span>
        </li>
    </ul>
</div>



<div class="row" id="form_statistics2"> 
    <div class="col-md-6 col-lg-12 col-xs-12 col-sm-12" >
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-home font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase">List of Late Payments</span>
                </div>
            </div>
         <div class="portlet-body">
                                            <div class="row" style="margin-top: 25px" id="prop_selection">
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-sm text-left">
                                                        <label class="col-sm-3 control-label" for="formGroupInputSmall"> <strong> Property Selection </strong> </label>
                                                        <div class="col-sm-6">
                                                            <select id="slt_propertyParentList" class="form-control"
                                                                <option value="0" selected="selected">All</option>
                                                            </select>    
                                                             <a href="#" class="btn btn-outline blue btnSendNotice" style="float: right; margin-top: 21px;"> SEND NOTICE</a> 
                                                        </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                <div class="form-body">
                   <div class="portlet-body" id="printContent">
                                                                    <div class="table-container">
                                                                        <table class="table table-striped table-bordered table-hover clientwithlatePayments">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th> # </th>
                                                                                    <th> NAME </th>
                                                                                    <th> PROPERTY </th>
                                                                                    <th> BLOCK</th>
                                                                                    <th> LOT</th>
                                                                                    <th> # OF MONTHS DELAYED</th>
                                                                                    <!-- <TH> AGENT'S COMMISSION </TH> -->
                                                                                    <!-- <TH> DATE CLAIMED </TH> -->
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
   
                </div>        
            </div>
        </div>                                  
    </div>
                                                                
               <!--  <div class="actions">
                    <div class="btn-group">
                        <a href="" class="btn dark btn-outline btn-circle btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Filter Range
                            <span class="fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;"> Custom
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"> Monthly
                                </a>
                            </li>
                             <li>
                                <a href="javascript:;"> Daily
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> -->

<div class="row" id="form_statistics3">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-users"></i>
            </div>
            <div class="details">
                <div class="number">₱
                    <span data-counter="counterup" class="counterup" id="lbl_clientList" data-value="0">0</span> </div>
                <div class="desc"> Clients </div>
            </div>
        </a>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">₱
                    <span data-counter="counterup" class="counterup" id="lbl_totalCommission" data-value="0">0</span> </div>
                <div class="desc"> Total Commission </div>
            </div>
        </a>
    </div> 

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
            <div class="visual">
                <i class="fa fa-money"></i>
            </div>
            <div class="details">
                <div class="number">₱
                    <span data-counter="counterup" class="counterup" id="lbl_commissionable" data-value="0">0</span> </div>
                <div class="desc"> Commissionable </div>
            </div>
        </a>
    </div>

</div>

<!-- END CONTENT BODY -->
