<!-- <%_.each(data, function(blocks){ %> 
<%=  blocks.block %> 
<% }); %> -->


<style>
    .addNewBlockDetails{
        transform: width 10s;
    }
</style> 

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption"> 
            <span class="caption-subject bold font-green uppercase">Block <span style="color: red" class="newBlock-no" Nvalue="sample"> </span>
            </span>
        </div>
        <div class="form-group" style="float: right; padding-right: 5px; padding-left: 5px;">
            <a data-toggle="modal" href="#basic" class="btn btn-outline blue btnAddBlockUpdateSlectedLot"><span class="icon-pencil"></span></a>
        </div>
        <div class="form-group" style="float: right; padding-left: 5px;">
            <a href="javascript:;" class="btn btn-outline blue btnAddBlockAddLot " ><span class="icon-plus"></span></a>
        </div>
         <div class="form-group form-md-line-input" style="float: right; margin-left: 25px;padding-top: 0px; margin-bottom: 0px">
            <input type="number" class="form-control text-center addBlockNumberOfLotInput " placeholder="Enter no of lots" id="lotNo">
            <label for="form_control_1"></label>
        </div>
    </div> 
    <div class="portlet-body">
        <div class="row">
            <div class="AddBlocklot-container" >
            
            </div>
        </div>
    </div>
    <div class="form-actions right1 text-right btn-lot-sub ">
        <a href="#" class="btn btn-outline red btnAddBlockCancel">Cancel</a>
        <button type="submit" class="btn btn-outline green btnAddBlockSubmit">Submit</button>
    </div> 
</div>
