<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a> 
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Properties</span>
                </li>
            </ul>
            
        </div>
            <div class="portlet box blue ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-plus"></i> Properties 
                        </div>
                        <div class="actions">
                            <button class="btn btn-outline white btnAddNewProperty1 "><span class="icon-plus"></span> Add New property</button>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-xs-12 addPropertyListContainer ">
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input  ">
                                                <select  class="form-control edited select2 select-prop">
                                                </select>
                                                <label for="form_control_1">Property Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group form-md-line-input  ">
                                                <select  class="form-control edited select2 select-block">
                                                </select>
                                                <label for="form_control_1">Block No.</label>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group form-md-line-input  ">
                                                <input type="text" readonly class="form-control form-md-line-input form-md-floating-label edited add_propertyAddress" id="form_control_1">
                                                <label for="form_control_1">Address</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding-top: 19px">
                                            <div class="">
                                                    <button class="btn btn-outline yellow btnAddNewProperty1Update "><i class="fa fa-pencil" aria-hidden="true"></i> Update Property</button>
                                            </div>
                                        </div>

                                    </div>

                                  

                                    </div>

                                    <div class="col-xs-12  updatePropertyFormContainer hidden ">
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input  ">
                                                <input type="text"  class="form-control form-md-line-input form-md-floating-label edited update_propertyFormName" id="form_control_1">
                                                <label for="form_control_1">Property Name</label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input  ">
                                                <input type="text"  class="form-control form-md-line-input form-md-floating-label edited update_propertyFormAddress" id="form_control_1">
                                                <label for="form_control_1">Address</label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="padding-top: 19px">
                                            <div class="">
                                                <button class="btn btn-outline red btnAddNewProperty1Cancel "><i class="icon-close"></i> Cancel</button>
                                                    <button class="btn btn-outline blue btnupdateNewProperty1Submit "><i class="fa fa-paper-plane" aria-hidden="true"></i> Update</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12  addPropertyFormContainer hidden ">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input  ">
                                                        <input type="text"  class="form-control form-md-line-input form-md-floating-label edited add_propertyFormName" id="form_control_1">
                                                        <label for="form_control_1">Property Name</label>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group form-md-line-input  ">
                                                        <input type="text"  class="form-control form-md-line-input form-md-floating-label edited add_propertyFormAddress" id="form_control_1">
                                                        <label for="form_control_1">Address</label>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="col-md-12">
                                                    <div class="form-group   ">
                                                        <label ><input type="checkbox"  class="form-control  add_propertyWithPhases"> With PHASES</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-right" style="padding-top: 19px">
                                                <div class="">
                                                    <button class="btn btn-outline red btnAddNewProperty1Cancel "><i class="icon-close"></i> Cancel</button>
                                                    <button class="btn btn-outline blue btnAddNewProperty1Submit "><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                            </div> 
                        </div>
                    </div>

                    <div class="portlet-body blockListContainer ">
                        <div>
                            <div class="form-body">
                               <!-- <div class="form-inline">
                                    <div class="form-group">
                                        <h3>Blocks and Lots</h3>
                                    </div>
                                    <div class="form-group btn-addblock pull-right">
                                        <a href="javascript:;" class="btn btn-outline blue addnew-bloks"><span class="icon-plus"></span> Add New Block</a>
                                        <a href="javascript:;" class="btn btn-outline green viewall-bloks hidden "> View Blocks</a>
                                    </div>
                               </div> -->
                                <div class="row">
                                    <div class="phaseControlContainer">
                                        <div class="col-xs-3 ">
                                            <label for="form_control_1">Phase List</label>
                                            <select id="form_control_1"  class="form-control  form-md-line-input form-md-floating-label edited select2 selectPhaseList" >
                                            </select>
                                            <label class="ckeckboxNewPhase"> <i class="fa fa-check" aria-hidden="true"></i> Click here to add New Phase <label></label></label >  
                                        </div>
                                   </div>
                                    <div class="col-md-12 form-inline">
                                        <div class="form-group">
                                            <h3>Blocks and Lots</h3>
                                        </div>
                                        <div class="form-group btn-addblock pull-right">
                                            <h3><a href="javascript:;" class="btn btn-outline blue addnew-bloks"><span class="icon-plus"></span> Add New Block</a>
                                            <a href="javascript:;" class="btn btn-outline green viewall-bloks hidden "> View Blocks</a></h3>
                                        </div>
                                   </div>
                                    <div class="col-md-12">
                                        <div class="block-container ">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
