
<div>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                '<span class="caption-subject bold font-green uppercase">Blk <span style="color: red" class="block-no" Nvalue="sample">1</span></pan>
            </div>
            <div class="caption" style="padding-right: 5px; padding-top: 0px; padding-left: 5px;">
                <a href="javascript:;" class="btn btn-outline blue btn-sm btn-update-blk"><span class="icon-pencil"></span> Update</a>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            </div>
            <div class="form-group" style="float: right">
                <a href="javascript:;" class="btn btn-outline red btnBlockRemove hidden"><span class="icon-close"></span></a>
            </div>
            <div class="form-group" style="float: right; padding-right: 5px; padding-left: 5px;">
                <a data-toggle="modal" href="#basic" class="btn btn-outline blue lot-update hidden"><span class="icon-pencil"></span></a>
            </div>
            <div class="form-group" style="float: right; padding-left: 5px;">
                <a href="javascript:;" class="btn btn-outline blue add-lots hidden" value="'+ i + '"><span class="icon-plus"></span></a>
            </div>
             <div class="form-group form-md-line-input" style="float: right; margin-left: 25px;padding-top: 0px; margin-bottom: 0px">
                <input type="number" class="form-control text-center txt-lotNum hidden" placeholder="Enter no of lots" id="lotNo">
                <label for="form_control_1"></label>
            </div>
        </div>
        <!-- <%= data.user_mname %> -->
        <div class="portlet-body">
            <div class="row">
                <div class="lot-container" >

                </div>
            </div>
        </div>
        <div class="form-actions right1 text-right btn-lot-sub hidden">
            <a href="#" class="btn btn-outline red">Cancel</a>
            <button type="button" class="btn btn-outline green blok-submit">Submit</button>
        </div> 
    </div>
</div>


