<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a> 
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Property List</span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <!-- <li>
                    <span>Property List</span>
                </li> -->
            </ul>
        </div>
            <div class="portlet box blue ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-map-marker"></i> Property List </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body"> 
                            <div class="row">
                                <div class="col-md-6" style="padding-left: 30px">
                                     <div class="form-group">
                                        <label class="sbold">Type of Property</label>
                                        <div class="input-group">
                                            <div class="icheck-inline">
                                                <label>
                                                    <input type="radio" name="radio2" value="2" checked class=" typeOfProperty"> House &amp; Lot 
                                                </label>
                                                <label>
                                                    <input type="radio" name="radio2" value="1" checked="true"  class=" typeOfProperty"> Raw Lots 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                 <div class="portlet light  ">
                                    <div class="portlet-body">
                                        <div class="">
                                            <table class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-column collapsed propertyListTable" >
                                                <colgroup>
                                                    <col style="width:10%">
                                                    <col style="width:30%">
                                                    <col style="width:30%">
                                                    <col style="width:10%">
                                                    <col style="width:0%">
                                                    <col style="width:0%">
                                                    <col style="width:0%">
                                                    <col style="width:10%">
                                                    <col style="width:0%">
                                                    <col style="width:5%">
                                                    <col style="width:5%">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th class="all"> Property Name </th>
                                                        <th class="all"> Address </th>
                                                        <th class="all"> Lot No. /Area </th>
                                                        <th class="all"> SQ.M </th>
                                                        <th class="all"> Price per m<sup>2</sup> </th>
                                                        <th class="all"> Plan Terms </th>
                                                        <th class="all"> Contract Price </th>
                                                        <th class="all"> Model </th>
                                                        <th class="all"> Monthly Amortization </th>
                                                        <th class="all"> Type </th>
                                                        <th class="all"> Occupied By </th>
                                                        <th class="all"> Status & Control </th>

                                                        <!-- <th class="all"> Property Name </th>
                                                        <th class="none"> Address </th>
                                                        <th class="all"> Lot No. /Area </th>
                                                        <th class="none"> SQ.M </th>
                                                        <th class="none"> Price per m<sup>2</sup> </th>
                                                        <th class="none"> Plan Terms </th>
                                                        <th class="none"> Contract Price </th>
                                                        <th class="all"> Model </th>
                                                        <th class="none"> Monthly Amortization </th>
                                                        <th class="all"> Type </th>
                                                        <th class="all"> Occupied By </th>
                                                        <th class="all"> Status & Control </th> -->
                                                    </tr>
                                                </thead>
                                              <tbody>
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                </div>
                             </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
