<style>
    .form-group.form-md-line-input.form-md-floating-label .form-control~label{
        color: #080808;
    }
</style>
<%_.each(datas, function(data){ %>

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">

    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Property</span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Update</span>
                </li>
            </ul>
            
        </div>
            <div class="portlet box red ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-map-marker"></i>
                            Update Property ( <%= data.typeName %> )
                        </div> 
                        <div class="actions ">
                            <button type="button"  class="btn btn-outline white btnReturnToPropertyList"><i class="fa fa-arrow-left" aria-hidden="true"></i> Return</button>
                        </div>
                    </div>
                    <div class="portlet-body form  ">
                        <div class="form" role="form">
                            <div class="form-body updatePropertyForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control update_propertyName" id="form_control_1">
                                            <label for="form_control_1">Property Name</label>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                               </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control update_propertyModel" <%= data.typeID == 1 ?  'readonly' : '' %>  id="form_control_1">
                                            <label for="form_control_1">Property Model</label>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control update_propertyAddress" id="form_control_1">
                                            <label for="form_control_1">Location Address</label>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>        
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="number" class="form-control update_blockAreaLocation" id="form_control_1">
                                            <label for="form_control_1">Block #</label>
                                            <span class="help-block"></span>
                                        </div>  
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="number" min="1" max="999999999" class="form-control update_lotAreaLocation" id="form_control_1">
                                            <label for="form_control_1">Lot #</label>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="number" min="1" max="999999999" class="form-control update_sqmAreaLocation" id="form_control_1">
                                            <label for="form_control_1">Sq.m</label>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Price:</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="number" min="1" max="999999999999" class="form-control update_propertyMonthlyAmoritzation" id="form_control_1">
                                            <label for="form_control_1">Monthly Amortization</label>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="number" min="1" max="999999999999" class="form-control update_propertyPrice" id="form_control_1">
                                            <label for="form_control_1">Original Price</label>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-actions right1">
                                <button type="button" data-propertyTypeID='<%= data.typeID %>' data-propertyID="<%= data.id %>" class="btn btn-outline green btnUpdateThisProperty"><i class="icon-pencil"  ></i> Update</button>
                            </div>  
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<% }); %>