<style>
    .inline_header{
        display: inline;
        margin-right:17px;
    }
    .mr-tp-9{
        margin-top: -9px;
    }

    @-webkit-keyframes fadeInDown {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }

      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
    @keyframes fadeInDown {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }

      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }

    .fadeInDown_spouse {
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
    }

    a#btn_RemoveBenef {
        margin-top: 19px;
        font-size: 14px;
    }

    a#btn_addSpouse,  a#btn_RemoveBenef, a#btn_addBenef {
        border: none;
        border-radius: 19px;
    }

</style>

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Clients</span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Add</span>
                </li>
            </ul>
             
        </div>
       <div class="row">
            <div class="col-md-12">
                <div class="portlet light addClientWizard" id="form_wizard_1">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-red"></i>
                            <span class="caption-subject font-red bold uppercase"> add Client Record
                                <span class="step-title"> Step 1 of 4 </span>
                            </span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-cloud-upload"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-wrench"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form class="form" action="#" id="submit_form" method="POST">
                            <div class="form-wizard">
                                <div class="form-body">
                                    <ul class="nav nav-pills nav-justified steps">
                                        <li>
                                            <a href="#tab1" data-toggle="tab" class="step">
                                                <span class="number"> 1 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Client Info </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab2" data-toggle="tab" class="step">
                                                <span class="number"> 2 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Property Info </span>
                                            </a>
                                        </li>

                                         <li>
                                            <a href="#tab4" data-toggle="tab" class="step ">
                                                <span class="number"> 3 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Addtional Charges </span>
                                            </a>
                                        </li> 

                                        <li>
                                            <a href="#tab3" data-toggle="tab" class="step active">
                                                <span class="number"> 4 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Agent </span>
                                            </a>
                                        </li> 
                                        <li>
                                            <a href="#tab5" data-toggle="tab" class="step active">
                                                <span class="number"> 5 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Summary </span>
                                            </a>
                                        </li>

                                    </ul>
                                    <div id="bar" class="progress progress-striped active" role="progressbar">
                                        <div class="progress-bar progress-bar-success"> </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="alert alert-danger display-none">
                                            <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                                        <div class="alert alert-success display-none">
                                            <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>
                                        
                                        <div class="tab-pane active" id="tab1">
                                            <h3 class="block">Client Information</h3>

                                             <div class="form-group">
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input ">
                                                        <input type="text" class="form-control addClient_fname" placeholder="" name="addClient_fname">
                                                        <label class="control-label" for="form_clientFname">First Name
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">   
                                                    <div class="form-group form-md-line-input ">
                                                        <input type="text" class="form-control addClient_lname" placeholder="" name="addClient_lname">
                                                        <label class="control-label" for="form_clientLname">Last Name
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">  
                                                    <div class="form-group form-md-line-input ">
                                                        <input type="text" class="form-control addClient_mname" placeholder="" name="addClient_mname">
                                                        <label class="control-label" for="form_clientMname">Middle Name
                                                        </label>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>   
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-8">
                                                    <div class="form-group form-md-line-input ">
                                                        <input type="text" class="form-control addClient_address" placeholder="" name="addClient_address">
                                                        <label class="control-label" for="form_clientAddress">Address
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input ">
                                                        <input type="number" class="form-control addClient_contactnumber" placeholder="" name="addClient_contactnumber">
                                                        <label class="control-label" for="form_clientContactN">Contact Number
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>   
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-4">   
                                                    <div class="form-group form-md-line-input ">
                                                        <input type="text" class="form-control addClient_email" placeholder="" name="addClient_email">
                                                        <label class="control-label" for="form_clientEmail">Email
                                                        </label>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>  
                                            </div>
                    

                                            <div class="form-group">
                                                <div class="col-md-12">   
                                                    <div class="form-group form-md-line-input ">
                                                        <h3 class="inline_header"> Spouse </h3>
                                                        <a href="javascript:;" class="btn btn-outline blue mr-tp-9" id="btn_addSpouse"> <span class="fa fa-plus"> </span></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div id="spouseInfo"></div>
                                                </div>  
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">   
                                                    <div class="form-group form-md-line-input ">
                                                        <h3 class="inline_header"> Beneficiary </h3>
                                                        <a href="javascript:;" class="btn btn-outline blue mr-tp-9" id="btn_addBenef"> <span class="fa fa-plus"> </span></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <div id="benif_info"></div>
                                                </div>  
                                            </div>

                                        </div>

                                        <div class="tab-pane" id="tab2">
                                            <h3 class="block">Property Details</h3>
                                            <div class="portlet box ">
                                                <div class="portlet-body form">
                                                    <div class="form-body" id="propertyForm">
                                                    
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group form-md-line-input">
                                                                        <select class="form-control addClientprop_property select2" name="addClientprop_property" style="width: 100%;">
                                                                        </select>
                                                                        <label for="form_propName">Property Name</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <a class="btn btn-outline blue cms-btn-view"> <span class="icon-action-redo cms-pdng-5"></span>View</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <ul class="slectedPorpertyList hidden "></ul>

                                                    <div class="selectecPropertiesContainer" style="padding-top: 10px;"></div>

                                                    </div>
                                                 </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="tab3">
                                            <h3 class="block">Provide agent detail</h3>
                                            <div class="row">
                                                <div  class="form-group" style="padding-left: 15px">
                                                    <div class="col-md-3">
                                                        <div class="form-group form-md-line-input">
                                                            <select class="form-control addClientagent select2" name="addClientagent" style="width: 100%">
                                                            </select>
                                                            <label for="form_selAgent">Select Agent</label>
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-9"> 
                                                    <div class="form-group form-md-line-input ">
                                                        <input type="text" readonly="" class="form-control addClient_agent_name" placeholder="" name="addClient_agent_name">
                                                        <label class="control-label" for="form_agentName">Agent Name
                                                        </label>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3"> 
                                                    <div class="form-group form-md-line-input ">
                                                        <input type="text" readonly="" class="form-control addClient_agent_contactnumber" placeholder="" name="addClient_agent_contactnumber">
                                                        <label class="control-label" for="form_contactNo">Contact No.
                                                        </label>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block"></span>
                                                    </div> 
                                                </div>   
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-8">
                                                    <div class="form-group form-md-line-input ">
                                                        <input type="text" readonly="" class="form-control addClient_agent_address" placeholder="" name="addClient_agent_address">
                                                        <label class="control-label" for="form_address">Address
                                                        </label>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block"></span>
                                                    </div> 
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group form-md-line-input ">
                                                        <input type="text" readonly="" class="form-control addClient_agent_email" placeholder="" name="addClient_agent_email">
                                                        <label class="control-label" for="form_email">Email
                                                        </label>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block"></span>
                                                    </div> 
                                                </div>   
                                                <div class="col-md-2">
                                                    <div class="form-group form-md-line-input ">
                                                        <input type="text" readonly="" class="form-control addClient_agent_position" placeholder="" name="addClient_agent_position">
                                                        <label class="control-label" for="form_position">Position</label>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block"></span>
                                                    </div> 
                                                </div> 
                                            </div>
                                            <hr>
                                            <div class="row clientAgentPercentageCalculatorContainer">
                                                <div class="col-md-12">
                                                    <h3>Commission Percentage <strong>(15%)</strong>:</h3>
                                                </div> 
                                                <div class="col-md-3">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="number"  min="0" max="15" class="form-control directAgentCommission" name="directAgentCommission" id="form_directAgent" >
                                                        <label for="form_directAgent">Direct Agent</label>
                                                        <span class="help-block"></span>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab4">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h3 class="col-sm-4 block">Add Additional Charges</h3>
                                                    <div class="col-sm-6 text-left" style="margin-top:10px;">
                                                        <h3>Total Charges: <label class="totalCharges">0</label></h3>
                                                    </div>
                                                    <div class="col-sm-1 text-left" style="margin-top:10px;">
                                                        <a href="javascript:;" class="btn btn-outline green cms-addo-charges"><span class="icon-plus"></span> Add more charges</a>
                                                    </div>
                                                </div>
                                            </div>  
                                            <div class="addtional-charges">   
                                                
                                            </div>
                                            <div class="propertySelectedContainerforAdditionalCharges">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <h3>Property possible charges:</h3>
                                                    </div>
                                                </div>
                                                <div class="listOfPropertySelectedForChargesOutputContainer">
                                                    
                                                </div>
                                            </div>
                                        </div>
        

                                        <div class="tab-pane" id="tab5">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h3 class="from-label sbold uppercase">Name: <span class="text-normal addClient_summary_cleintName getClientName">Sample name</span></h3>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group text-right">
                                                    <label class="from-label sbold uppercase hidden ">Date: <span class="text-normal addClient_summary_date">Jan 7 2017</span></label>
                                                </div>
                                            </div>
                                            <div class="addClient_summary_propertyList">
                                                <div class="row">
                                                    <div class="cms-container">
                                                        <div class="col-md-8 col-sm-12">
                                                            <h3>Property Details</h3>
                                                            <div class="form-group padding-left-23">
                                                               <label class="from-label sbold uppercase">Name : <span class="text-normal addClient_summary_propertyname"> Villa Monte Marea</span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                               <label class="from-label sbold uppercase">Address :<span class="text-normal addClient_summary_propertyAddress"> Matina Aplaya, Davao City  </span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                               <label class="from-label sbold uppercase">Location : <span class="text-normal addClient_summary_propertyLocation"> Blk 1 Lt 1 / Blk 1 Lt 2</span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                               <label class="from-label sbold uppercase">Type : <span class="text-normal addClient_summary_propertyType">Raw Lot</span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                               <label class="from-label sbold uppercase">Model : <span class="text-normal addClient_summary_propertyModel">Payag</span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                               <label class="from-label sbold uppercase">Area : <span class="text-normal addClient_summary_propertyArea">200 SQM<sup>2</sup></span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                               <label class="from-label sbold uppercase">Price per SQM<sup>2</sup>: <span class="text-normal addClient_summary_propertyPricePerm2"> 1500.00</span></label>
                                                            </div>

                                                            <h3>Additional Charges <label class="addClient_summary_propertypTotalCharges">0.00</label></h3>
                                                            <div class="addClientAdditionalChargesSummaryContainer">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4 col-sm-12 text-right">


                                                            <h3>Plan Terms</h3>
                                                            <div class="form-group padding-left-23">
                                                               <label class="from-label sbold addClient_summary_propertyplanTerms">28 Month</label>
                                                            </div>

                                                            <h3>Contract Price</h3>
                                                            <div class="form-group padding-right-23">
                                                               <label class="from-label sbold uppercase addClient_summary_propertyTotalCtractPrice">P400,000.00</label>
                                                            </div>  

                                                            <h3>Monthly Amortization</h3>
                                                            <div class="form-group padding-right-23">
                                                               <label class="from-label sbold addClient_summary_propertyMonthlyAmortization"></label>
                                                            </div>

                                                            <h3>Downpayment</h3>
                                                            <div class="form-group padding-right-23 ">
                                                               <label class="from-label sbold uppercase addClient_summary_propertyDownpayment">P300,000.00</label>
                                                            </div> 

                                                            <h3>Balance</h3>
                                                            <div class="form-group padding-right-23">
                                                               <label class="from-label sbold uppercase addClient_summary_propertyBalance">P300,000.00</label>
                                                            </div>
                                                            
                                                        </div>

                                                        <div class="col-md-12">
                                                            <hr>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-12 text-right">
                                                <div class="form-group">
                                                    <label class="from-label sbold uppercase">Total: <span class="text-normal addClient_summary_propertyOverAllTotal"> 15000</span></label>
                                                </div>
                                            </div>
                                            <hr>                                           
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="from-label sbold uppercase">Encoder: <span class="text-normal addClient_summary_encoderName">Miley Cyrus</span></label>
                                                </div>
                                            </div>

                                            <div class="col-md-6 text-right">
                                                <div class="form-group">
                                                    <label class="from-label sbold uppercase">Agent: <span class="text-normal addClient_summary_agentName"> Maria Teressa</span></label>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-9 col-md-3">
                                            <a href="javascript:;" class="btn default button-previous">
                                                <i class="fa fa-angle-left"></i> Back </a>
                                            <a href="javascript:;" class="btn btn-outline green button-next"> Continue
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                            <a href="javascript:;" class="btn green button-submit"> Submit
                                                <i class="fa fa-check"></i>
                                            </a>
                                            <a data-toggle="modal" href="#receipt" class="btn hidden green button-submit btn-summaryModal"> 
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                                <div  id="printReceipt" class="hidden"> 

                                    <style type="text/css">
                                       /* .cms-col-md-6, .cms-col-md-12{
                                          position: relative;
                                          min-height: 1px;
                                          padding-right: 15px;
                                          padding-left: 15px;
                                        }*/

                                        .cms-logo {
                                            width: 24%;
                                            /*height: 100%;*/
                                        }

                                        .cms-col-md-12{
                                            width: 98%;
                                            float: left;
                                        }

                                        .cms-col-md-6{
                                            width: 47.7%;
                                            float: left;
                                        }

                                        .h4-margin.cms-left-pddng {
                                            padding-left: 25px;
                                            margin-top: 3px;
                                        }


                                        .cms-container{
                                            padding: 5px; 
                                        }

                                        .cms-margin-top{
                                            margin-top: 0px;
                                        }

                                        .cms-bold {
                                            font-weight: bold;
                                        }

                                        .h4-margin{
                                            margin-bottom: 8px;
                                        }

                                        .cms-text-right{
                                            text-align: right;
                                        }

                                        .cms-text-center{
                                            text-align: center;
                                        }

                                        .cms-col-md-6.cms-text-right.cms-downpayment {
                                            margin-top: 22px;
                                        }


                                        .cms-col-md-12.cms-text-right.cms-downpayment {
                                            padding-bottom: 16px;
                                            padding-right: 29px;
                                        }

                                        .text-normal{
                                            font-style: normal;
                                            text-transform: capitalize;
                                            font-weight: 400;
                                        }

                                        .margin-top-56{
                                            margin-top: 56px;
                                        }

                                        .padding-left-23{
                                            padding-left: 23px;
                                        }

                                        .padding-right-23{
                                            padding-right: 23px;
                                        }

                                        .padding-left-25{
                                             padding-left: 25px;
                                        }

                                        .margin-top-132{
                                            margin-top: 132px;
                                        }

                                        .cms-logo{
                                          width: 20%;
                                        }

                                        h4.cms-hr-margin-top {
                                            margin-top: 10px;
                                            padding-left: 25px;
                                        }

                                        .cms-bold {
                                            font-weight: bold;
                                            padding-left: 25px;
                                            font-size: medium;
                                        }

                                        .h4-margin.cms-left-pddng {
                                            font-size: large;
                                        }

                                        .cms-float-left{
                                            float: left;
                                        }

                                        .cms-float-right{
                                            float: right;
                                        }


                                        .cms-downpayment-margin-top {
                                            margin-top: 18px;
                                        }

                                        h4.cms-hr-margin-top {
                                            margin-top: 0px;
                                        }

                                    </style>
                                    
                                    <div class="row">
                                        <div class="cms-container cms-text-center">
                                          <img src="images/logo-invert.jpg" class="cms-logo">
                                        </div>
                                       
                                        <div class="cms-container">
                           <h2 class="cms-text-center" style="margin-bottom: 5px; margin-top: 0px"> R AND SONS PROPERTIES Co.</h2>
                                            <p class="cms-text-center" style="margin:0px;"> 2nd floor S10 at The Paddock, J.Camus St.</p>
                                            <p class="cms-text-center" style="margin:0px;"> Davao City, Davao del Sur, Philippines 8000</p>
                                            <p class="cms-text-center" style="margin:0px;"> Tel no. (082) 322-6819 </p>
                                        </div>

                                        <div class="cms-container cms-margin-top">
                                            <div class="cms-col-md-6">
                                                <h3 class="form-label cms-bold ">Name: <span style="font-weight: normal; " class="addClient_summary_cleintName getClientName">Sample Name</span></h3>
                                            </div>

                                            <div class="cms-col-md-6 cms-text-right" style=" margin-top: 19px; margin-bottom: 9px;font-size: small;">
                                                <label class="cms-bold">Date : <span style="font-weight: normal;" style="font-weight: normal;" class="addClient_summary_date">January 9 2017 
                                            </div>
                                        </div>


                                        <h3 class="h4-margin cms-left-pddng" style="padding-left: 29px;">Property Details</h3>  
                                        <div class="cms-container addClient_summary_propertyList2" style="margin-top: 20px;">
                                            <div class="property-container">

                                                <div class="cms-col-md-6">
                                                    <h4 class="h4-margin cms-left-pddng" style="text-align: center;">Property 1</h4>
                                                </div>
                                                <div class="cms-col-md-6">

                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left">Name: <span style="font-weight: normal;" class="addClient_summary_propertyname">Villa Monte Marea</span></label>
                                                    </div>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Address: <span style="font-weight: normal;" class="addClient_summary_propertyAddress">Matina Aplaya, Davao City</span></label>
                                                    </div>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Location: <span style="font-weight: normal;" class="addClient_summary_propertyLocation">Blk 1 Lt 1 / Blk 1 Lt 2</span></label>
                                                    </div>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Type: <span style="font-weight: normal;" class="addClient_summary_propertyType">Raw Lot</span></label>
                                                    </div>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Model: <span style="font-weight: normal;" class="addClient_summary_propertyModel">Payag</span></label>
                                                    </div>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Area: <span style="font-weight: normal;" class="addClient_summary_propertyArea">1255</span></label>
                                                    </div>

                                                    <h4 class="h4-margin">Monthly Amortization</h4>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"><span style="font-weight: normal;" class="addClient_summary_propertyMonthlyAmortization">P25,000.00</span></label>
                                                    </div>


                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Price per SQM<sup>2</sup>: <span style="font-weight: normal;" class="addClient_summary_propertyPricePerm2">15000</span></label>
                                                    </div>
                                        
                                                    <h4 class="padding-left-25">Additional Charges <label class="addClient_summary_propertypTotalCharges">0.00</label></h4>
                                                    <div class="addClientAdditionalChargesSummaryContainer2">
                                                        
                                                    </div>

                                                </div>
                                            
                                                <div class="cms-col-md-6 cms-text-right ">


                                                    <h4 class="cms-hr-margin-top h4-margin">Plan Terms</h4>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left addClient_summary_propertyplanTerms"> 28 Months</label>
                                                    </div>

                                                   
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left">Contract Price : <span style="font-weight: normal;" class="addClient_summary_propertyTotalCtractPrice">P400,000.00</span></label>
                                                    </div>
                                                </div>

                                                <div class="cms-col-md-6 cms-text-right cms-downpayment-margin-top">
                                                    <label class="form-label cms-bold ">Downpayment : <span style="font-weight: normal;" class="addClient_summary_propertyDownpayment">P100,000.00</span></label>
                                                </div>
                                                <div class="cms-col-md-6 cms-text-right ">
                                                    <label class="form-label cms-bold    txt-margin-left">Balance : <span style="font-weight: normal;" class="addClient_summary_propertyBalance">P300,000.00</span></label>
                                                </div>
                                                
                                                
                                                <div class="cms-col-md-12">
                                                    <hr style="margin-top: 0px !important; margin-bottom: 5px;">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="cms-col-md-12 cms-text-right" >
                                            <div class="">
                                                <label class="form-label cms-bold txt-margin-left" style="padding-right: 26px;"> Total: <span style="font-weight: normal;" class="addClient_summary_propertyOverAllTotal">1500.00</span></label>
                                            </div>
                                        </div>
                                        <div class="cms-float-left cms-bold" >
                                            <div class="form-group">
                                                <label class="from-label sbold uppercase ">Encoder: <span class="text-normal addClient_summary_encoderName">Miley Cyrus</span></label>
                                            </div>
                                        </div>

                                        <div class="cms-float-right text-right" style="padding-right: 26px; padding-top: 5px;">
                                            <div class="form-group">
                                                <label class="from-label sbold uppercase">Agent: <span class="text-normal addClient_summary_agentName"> Maria Teressa</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>      
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->




