<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                   <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Client</span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a  class="addMoreClientPropertyClientName">Client Name</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Additional Property</span>
                </li>
            </ul>
            
        </div>
            <div class="portlet box blue ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-plus"></i>Additional Property </div>
                    </div>
                    <div class="portlet-body form">
                        <div>
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#addproperty" class="addmoreProp_tab1" data-toggle="tab"> Property </a>
                                    </li>
                                    <li>
                                        <a href="#addicharges" class="addmoreProp_tab2" data-toggle="tab"> Additional Charges </a>
                                    </li>
                                    <li>
                                        <a href="#addiagent" data-toggle="tab" class="addmoreProp_tab3"> Agent </a>
                                    </li>
                                    <li>
                                        <a href="#addiSummary" data-toggle="tab" class="addmoreProp_tab4"> Summary </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    
                                    <div class="tab-pane active" id="addproperty">
                                        <div class="form" role="form">
                                            <div class="form-body" id="propertyForm">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-sm-6">
                                                            <div class="form-group form-md-line-input ">
                                                                <select class="form-control edited select2 addClientprop_property">
                                                                    <option>Property 1</option>
                                                                    <option>Property 2</option>
                                                                    <option>Property 3</option>
                                                                </select>
                                                                <label for="form_control_1">Property Name</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-2">
                                                            <a href="javascript:;" class="btn btn-outline blue sbold cms-btn-padding-top cms-btn-view"><span class="icon-paper-plane"> </span> View</a> 
                                                        </div>    
                                                    </div>
                                                </div>   
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <ul class="slectedPorpertyList hidden "></ul>

                                                        <div class="selectecPropertiesContainer" style="padding-top: 10px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane" id="addicharges">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h3 class="col-sm-4 block" style="padding-left: 15px;">Add Additional Charges</h3>
                                                <div class="col-sm-3 text-left" style="margin-top:10px;">
                                                    <h3>Total Charges: <label class="totalCharges" data-totalcharges="0">0.00</label></h3>
                                                </div>
                                                <div class="col-sm-1 text-left" style="margin-top:10px;">
                                                    <a href="javascript:;" class="btn btn-outline green cms-addo-charges"><span class="icon-plus"></span> Add more charges</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="addtional-charges">   
                                                
                                                </div>
                                                <div class="propertySelectedContainerforAdditionalCharges">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <h3 style="padding-left: 15px;" >Property possible charges:</h3>
                                                        </div>
                                                    </div>
                                                    <div class="listOfPropertySelectedForChargesOutputContainer">
                                                        <div class="col-sm-12 listOfPropertySelectedForChargesOutput">  
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <h4 class="propertyName">Avida Housing  Phase 2  Block 1 Lot 6</h4>
                                                                    </div></div><div class="row">
                                                                        <div class="col-sm-8">
                                                                            <div class="form-group form-md-line-input ">
                                                                                <input type="text" readonly="" value="100,000.00" data-propertyid="0" class="form-control propertyPrice" placeholder="" name="propertyPrice">
                                                                                <label class="control-label" for="form_control_1">Property price:</label>
                                                                                <div class="form-control-focus">
                                                                                </div>
                                                                                <span class="help-block"></span>
                                                                            </div> 
                                                                        </div>
                                                                    <div class="col-sm-4">
                                                                        <div class="form-group form-md-line-input ">
                                                                            <input type="text" readonly="" value="4,166.67" data-propertyid="0" class="form-control propertyPriceMonthly" placeholder="" name="propertyPriceMonthly">
                                                                            <label class="control-label" for="form_control_1">Property monthly amortization:</label>
                                                                        <div class="form-control-focus"> 
                                                                        </div>
                                                                        <span class="help-block"></span>
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                    
                                    <div class="tab-pane" id="addiagent">
                                        <div class="row">
                                           <div class="form-group">
                                            <div class="col-md-12">
                                                <h3 class="block"  style="padding-left: 15px">Provide agent detail</h3>
                                                <div class="row">
                                                    <div class="form-group" style="padding-left: 15px">
                                                        <div class="col-md-3">
                                                            <select class="form-control select2 addClientagent" name="addClientagent">
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-9"> 
                                                        <div class="form-group form-md-line-input ">
                                                            <input type="text" readonly="" class="form-control addClient_agent_name" placeholder="" name="addClient_agent_name">
                                                            <label class="control-label" for="form_control_1">Agent Name
                                                            </label>
                                                            <div class="form-control-focus"> </div>
                                                            <span class="help-block"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3"> 
                                                        <div class="form-group form-md-line-input ">
                                                            <input type="text" readonly="" class="form-control addClient_agent_contactnumber" placeholder="" name="addClient_agent_contactnumber">
                                                            <label class="control-label" for="form_control_1">Contact No.
                                                            </label>
                                                            <div class="form-control-focus"> </div>
                                                            <span class="help-block"></span>
                                                        </div> 
                                                    </div>   
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-8">
                                                        <div class="form-group form-md-line-input ">
                                                            <input type="text" readonly="" class="form-control addClient_agent_address" placeholder="" name="addClient_agent_address">
                                                            <label class="control-label" for="form_control_1">Address
                                                            </label>
                                                            <div class="form-control-focus"> </div>
                                                            <span class="help-block"></span>
                                                        </div> 
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group form-md-line-input ">
                                                            <input type="text" readonly="" class="form-control addClient_agent_email" placeholder="" name="addClient_agent_email">
                                                            <label class="control-label" for="form_control_1">Email
                                                            </label>
                                                            <div class="form-control-focus"> </div>
                                                            <span class="help-block"></span>
                                                        </div> 
                                                    </div>   
                                                    <div class="col-md-2">
                                                        <div class="form-group form-md-line-input ">
                                                            <input type="text" readonly="" class="form-control addClient_agent_position" placeholder="" name="addClient_agent_position">
                                                            <label class="control-label" for="form_control_1">Position</label>
                                                            <div class="form-control-focus"> </div>
                                                            <span class="help-block"></span>
                                                        </div> 
                                                    </div> 
                                                </div>

                                                <hr>

                                                <div class="row clientAgentPercentageCalculatorContainer">
                                                    <div class="col-md-12">
                                                        <h3 style="padding-left: 15px;">Commission Percentage <strong>(15%)</strong>:</h3>
                                                    </div> 
                                                    <div class="col-md-3" style="padding-left: 30px;">
                                                        <div class="form-group form-md-line-input form-md-floating-label">
                                                            <input type="text" class="form-control directAgentCommission" name="directAgentCommission" id="form_control_1">
                                                            <label for="form_control_1">Direct Agent</label>
                                                            <span class="help-block"></span>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="addiSummary">
                                        <div class="row summary_design">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <h3 class="from-label sbold uppercase">Name: <span class="text-normal addClient_summary_cleintName">ASD ASD</span></h3>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group text-right">
                                                        <label class="from-label sbold uppercase hidden ">Date: <span class="text-normal addClient_summary_date">Jan 7 2017</span></label>
                                                    </div>
                                                </div>
                                                <div class="addClient_summary_propertyList"><div class="row">
                                                    <div class="cms-container">
                                                        <h4 class="h4-margin cms-left-pddng" style="padding-top: 50px;">Property 1</h4>
                                                    <div class="col-md-8 col-sm-12" style="padding-left: 46px">
                                                        <h3>Property Details</h3>
                                                            <div class="form-group padding-left-23">
                                                                <label class="from-label sbold uppercase">Name : <span class="text-normal addClient_summary_propertyname">Avida Housing</span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                                <label class="from-label sbold uppercase">Address :<span class="text-normal addClient_summary_propertyAddress">Puan, Davao City</span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                                <label class="from-label sbold uppercase">Location : <span class="text-normal addClient_summary_propertyLocation">Phase 2 Block 1 Lot 6</span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                                <label class="from-label sbold uppercase">Type : <span class="text-normal addClient_summary_propertyType">Raw Lot</span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                                <label class="from-label sbold uppercase">Model : <span class="text-normal addClient_summary_propertyModel">NONE</span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                                <label class="from-label sbold uppercase">Area : <span class="text-normal addClient_summary_propertyArea">100.00 SQM<sup>2</sup></span></label>
                                                            </div>
                                                            <div class="form-group padding-left-23">
                                                                <label class="from-label sbold uppercase">Price per SQM<sup>2</sup>: <span class="text-normal addClient_summary_propertyPricePerm2">1000.00</span></label>
                                                            </div>
                                                        <h3>Plan Terms</h3>
                                                            <div class="form-group padding-left-23">
                                                                <label class="from-label sbold addClient_summary_propertyplanTerms">24 <i class="fa fa-calendar" aria-hidden="true"></i></label>
                                                            </div>
                                                        <h3>Additional Charges <label class="addClient_summary_propertypTotalCharges">0.00</label></h3>
                                                            <div class="addClientAdditionalChargesSummaryContainer"></div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12 text-right" style="padding-right: 46px">
                                                            <h3>Contract Price</h3>
                                                                <div class="form-group padding-right-23">
                                                                    <label class="from-label sbold uppercase addClient_summary_propertyTotalCtractPrice">100,000.00</label>
                                                                </div>  
                                                            <h3>Montly Amortization</h3>
                                                                <div class="form-group padding-right-23">
                                                                    <label class="from-label sbold addClient_summary_propertyMonthlyAmortization">4,166.67</label>
                                                                </div>
                                                            <h3>Downpayment</h3>
                                                                <div class="form-group padding-right-23 ">
                                                                    <label class="from-label sbold uppercase addClient_summary_propertyDownpayment">0.00</label>
                                                                </div> 
                                                            <h3>Ballance</h3>
                                                                <div class="form-group padding-right-23">
                                                                    <label class="from-label sbold uppercase addClient_summary_propertyBalance">100,000.00</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                            <hr>
                                                        </div>
                                                    </div>
                                            </div>
                                            </div>
                                                <div class="col-md-12 text-right">
                                                    <div class="form-group">
                                                        <label class="from-label sbold uppercase">Total: <span class="text-normal addClient_summary_propertyOverAllTotal">100,000.00</span></label>
                                                    </div>
                                                </div>
                                                <hr>                                           
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="from-label sbold uppercase">Encoder: <span class="text-normal addClient_summary_encoderName"> Deboner Dulos </span></label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 text-right">
                                                    <div class="form-group">
                                                        <label class="from-label sbold uppercase">Agent: <span class="text-normal addClient_summary_agentName">Deboner Banogon Dulos</span></label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-actions right1 text-right">
                                            <button type="button" class="btn btn-outline red btnReturnToClientProfile" >Cancel</button>
                                            <button type="submit" class="btn btn-outline green btnSumbitThisAdditionalProperty">Submit</button>
                                        </div>

                                        <div  id="printReceipt" class="hidden"> 

                                    <style type="text/css">
                                       /* .cms-col-md-6, .cms-col-md-12{
                                          position: relative;
                                          min-height: 1px;
                                          padding-right: 15px;
                                          padding-left: 15px;
                                        }*/

                                        .cms-logo {
                                            width: 24%;
                                            /*height: 100%;*/
                                        }

                                        .cms-col-md-12{
                                            width: 98%;
                                            float: left;
                                        }

                                        .cms-col-md-6{
                                            width: 47.7%;
                                            float: left;
                                        }

                                        .h4-margin.cms-left-pddng {
                                            padding-left: 25px;
                                            margin-top: 3px;
                                        }


                                        .cms-container{
                                            padding: 5px; 
                                        }

                                        .cms-margin-top{
                                            margin-top: 60px;
                                        }

                                        .cms-bold {
                                            font-weight: bold;
                                            padding-left: 26px;
                                        }

                                        .h4-margin{
                                            margin-bottom: 8px;
                                        }

                                        .cms-text-right{
                                            text-align: right;
                                        }

                                        .cms-text-center{
                                            text-align: center;
                                        }

                                        .cms-col-md-6.cms-text-right.cms-downpayment {
                                            margin-top: 22px;
                                        }


                                        .cms-col-md-12.cms-text-right.cms-downpayment {
                                            padding-bottom: 16px;
                                            padding-right: 29px;
                                        }


                                        .cms-downpayment-margin-top{
                                            margin-top: 108px;
                                        }

                                        .text-normal{
                                            font-style: normal;
                                            text-transform: capitalize;
                                            font-weight: 400;
                                        }

                                        .margin-top-56{
                                            margin-top: 56px;
                                        }

                                        .padding-left-23{
                                            padding-left: 23px;
                                        }

                                        .padding-right-23{
                                            padding-right: 23px;
                                        }

                                        .padding-left-25{
                                             padding-left: 25px;
                                        }

                                        .margin-top-132{
                                            margin-top: 132px;
                                        }

                                        .cms-logo{
                                          width: 20%;
                                        }

                                        h4.cms-hr-margin-top {
                                            margin-top: 10px;
                                            padding-left: 25px;
                                        }

                                        .cms-downpayment-margin-top {
                                            margin-top: 10px;
                                        }

                                        
                                    </style>
                                    <div class="row">
                                        <div class="cms-container cms-text-center">
                                          <img src="images/logo-invert.jpg" class="cms-logo">
                                        </div>
                                        
                                        <div class="cms-container">
                                            <h2 class="cms-text-center" style="margin-bottom: 5px; margin-top: 0px"> R AND SONS PROPERTIES Co.</h2>
                                            <p class="cms-text-center" style="margin:0px;"> 2nd floor S10 at The Paddock, J.Camus St.</p>
                                            <p class="cms-text-center" style="margin:0px;"> Davao City, Davao del Sur, Philippines 8000</p>
                                            <p class="cms-text-center" style="margin:0px;"> Tel no. (082) 322-6819 </p>
                                        </div>


                                        <div class="cms-container cms-margin-top">
                                            <div class="cms-col-md-6">
                                                <h3 class="form-label cms-bold ">Name: <span style="font-weight: normal; " class="addClient_summary_cleintName">Sample Name</span></h3>
                                            </div>

                                            <div class="cms-col-md-6 cms-text-right">
                                                <label class="cms-bold">Date : <span style="font-weight: normal;" style="font-weight: normal;" class="addClient_summary_date">January 9 2017 
                                            </div>
                                        </div>


                                        <h3 class="h4-margin cms-left-pddng">Property Details</h3>  
                                        <div class="cms-container addClient_summary_propertyList2" style="margin-top: 20px;">
                                            <div class="property-container">
                                                <h4 class="h4-margin cms-left-pddng">Property 1</h4>
                                                <div class="cms-col-md-6">

                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left">Name: <span style="font-weight: normal;" class="addClient_summary_propertyname">Villa Monte Marea</span></label>
                                                    </div>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Address: <span style="font-weight: normal;" class="addClient_summary_propertyAddress">Matina Aplaya, Davao City</span></label>
                                                    </div>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Location: <span style="font-weight: normal;" class="addClient_summary_propertyLocation">Blk 1 Lt 1 / Blk 1 Lt 2</span></label>
                                                    </div>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Type: <span style="font-weight: normal;" class="addClient_summary_propertyType">Raw Lot</span></label>
                                                    </div>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Model: <span style="font-weight: normal;" class="addClient_summary_propertyModel">Payag</span></label>
                                                    </div>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Area: <span style="font-weight: normal;" class="addClient_summary_propertyArea">1255</span></label>
                                                    </div>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"> Price per SQM<sup>2</sup>: <span style="font-weight: normal;" class="addClient_summary_propertyPricePerm2">15000</span></label>
                                                    </div>
                                                    

                                                     
                                                    <h4 class="cms-hr-margin-top h4-margin">Plan Terms</h4>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left addClient_summary_propertyplanTerms"> 28 Months</label>
                                                    </div>

                                                    <h4 class="padding-left-25">Additional Charges <label class="addClient_summary_propertypTotalCharges">0.00</label></h4>
                                                    <div class="addClientAdditionalChargesSummaryContainer2">
                                                        
                                                    </div>


                                                    


                                                </div>
                                            
                                                <div class="cms-col-md-6 cms-text-right ">
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left">Contract Price : <span style="font-weight: normal;" class="addClient_summary_propertyTotalCtractPrice">P400,000.00</span></label>
                                                    </div>
                                                    

                                                    <h4 class="h4-margin">Montly Amortization</h4>
                                                    <div class="">
                                                        <label class="form-label cms-bold txt-margin-left"><span style="font-weight: normal;" class="addClient_summary_propertyMonthlyAmortization">P25,000.00</span></label>
                                                    </div>
                                                </div>

                                                <div class="cms-col-md-6 cms-text-right cms-downpayment-margin-top">
                                                    <label class="form-label cms-bold ">Downpayment : <span style="font-weight: normal;" class="addClient_summary_propertyDownpayment">P100,000.00</span></label>
                                                </div>
                                                <div class="cms-col-md-6 cms-text-right ">
                                                    <label class="form-label cms-bold    txt-margin-left">Ballance : <span style="font-weight: normal;" class="addClient_summary_propertyBalance">P300,000.00</span></label>
                                                </div>
                                                
                                                
                                                <div class="cms-col-md-12">
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cms-col-md-12 cms-text-right ">
                                            <div class="">
                                                <label class="form-label cms-bold txt-margin-left"> Total: <span style="font-weight: normal;" class="addClient_summary_propertyOverAllTotal">1500.00</span></label>
                                            </div>
                                        </div>
                                        <div class="cms-col-md-6">
                                            <div class="form-group">
                                                <label class="from-label sbold uppercase " style="padding-left: 30px;">Encoder: <span class="text-normal addClient_summary_encoderName">Miley Cyrus</span></label>
                                            </div>
                                        </div>

                                        <div class="cms-col-md-6" style="text-align: right">
                                            <div class="form-group">
                                                <label class="from-label sbold uppercase">Agent: <span class="text-normal addClient_summary_agentName"> Maria Teressa</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
