<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li> 
                <li>
                    <span>Client List</span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <!-- <li>
                    <span>List</span>
                </li> -->
            </ul>
            
        </div>
            <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption">
                                <i class="icon-share font-dark"></i>
                                <span class="caption-subject font-dark bold uppercase">List</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#portlet_tab2_1" data-toggle="tab"> Clients </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="portlet_tab2_1">
                                    <div class="portlet box blue">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-users"></i>Client Table</div>
                                            <div class="actions">
                                                <a href="javascript:;" class="btn btn-default btn-sm" style="color: white">
                                                    <i class="fa fa-print" style="color: white"></i> Print </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row" style="margin-top: 25px" id="prop_selection">
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-sm text-left">
                                                        <label class="col-sm-3 control-label" for="formGroupInputSmall"> <strong> Property Selection </strong> </label>
                                                        <div class="col-sm-6">
                                                            <select id="slt_propertyParentList" class="form-control js-data-example-ajax" dir="rtl">
                                                                <option value="0" selected="selected">All</option>
                                                            </select>     
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <select id="slt_propertyList" class="form-control js-data-example-ajax" dir="rtl">
                                                                <option value="0" selected="selected">All</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" style="display: flow-root;">
                                                <div class="row-">
                                                    <div class="col-md-12">
                                                        <table class="table table-striped table-bordered table-hover order-column  clientListTable">
                                                            <thead>
                                                                <tr >
                                                                    <th class="text-center"> # </th> 
                                                                    <th class="text-center"> Name </th>
                                                                    <th class="text-center"> Address </th>
                                                                    <th class="text-center"> Email </th>
                                                                    <th class="text-center"> Contact No: </th>
                                                                    <th class="text-center"> Control </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
