<style>
    .alert.alert-block.alert-info.fade.in {
        border-radius: 13px;
    }
    
    .mt-element-list .list-simple.mt-list-container ul>.mt-list-item>.list-item-content.benif_content {
        padding: 0 1px 0 2px;
    }
    
    .mt-element-list .list-simple.mt-list-container ul>.mt-list-item>.list-item-content>h3>a.benif_a {
        color: #34495e;
        font-size: small;
    }
    
    .mt-list-container.list-simple.benif_list {
        padding: 5px;
    }
    
    .mt-element-list .list-simple.mt-list-container ul>.mt-list-item.benif_name {
        padding: 1px 5px;
    }
    
    .btn_noBor {
        border: none;
    }
    
    .font-bold {
        font-weight: bold;
    }
    
    .spouce_file:hover {
        text-decoration: none;
    }
    
    .form-group.spouse_upOption {
        padding-left: 14px;
    }
    
    label.radio-inline.spouse_lblUpdate {
        color: red;
    }
</style>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <link href="addons/metronic/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#javascript" id="backtoList"> <span >Client List</span> </a>
                    
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Profile</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="pull-right">
                    <button style="margin: 5px" type="button" class="btn blue-chambray btn-sm btn-outline dropdown-toggle returnToClientList" data-toggle="dropdown"> View All Clients</button>
                </div>
            </div>
        </div>
        <div class="profile">
            <div class="tabbable-line tabbable-full-width">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                <form id="clientProfilePictureForm" enctype="multipart/form-data" method="post" name="fileinfo">
                                    <img src="images/no_image.jpg" class="clientImagePic img-responsive pic-bordered updateImg" alt="">
                                    <input type="hidden" class="imageClientID" name="dataID" value="" />
                                    <input type="hidden" name="MAX_FILE_SIZE" value="10000000000000" />
                                    <input name="file_uploads" accept=".jpg, .png, .jpeg, .gif" type="file" id="file_uploads" style="display: none;">
                                    </img>
                                    <a href="javascript:;" class="profile-edit hidden" style="text-decoration: none"> Click image to select file</a>
                                    <button type="submit" class="btn btn-outline blue hidden img-update" style="width: 100%"><span  class="icon-cloud-upload"> </span> Upload</button>
                                </form>
                            </li>
                            <li>
                                <a href="#tab_1_1" data-toggle="tab" id="tab_active_1" class="tab_active_1"> Overview </a>
                            </li>
                            <li>
                                <a href="#tab_1_2" data-toggle="tab" id="tab_active_2" class="thisClientPropertiesTab tab_active_2"> Properties
                                <!-- <span> 3 </span> -->
                            </a>
                            </li>
                            <li class="tab-to-remove">
                                <a href="#tab_1_3" id="add-info" data-toggle="tab" class="tab_active_3 updateClient-infoTab"> Update Information </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <!--start tab_1_1-->
                            <div class="tab-pane active" id="tab_1_1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <!-- <h1 class="font-green sbold uppercase">John Doe</h1> -->
                                                <div class="portlet sale-summary">
                                                    <div class="portlet-title">
                                                        <div class="caption font-green sbold uppercase summary-margin-10 update_clientFullname"> John Doe </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <span class="sale-info summary-margin-10">Address :
                                                                <i class="fa fa-img-up"></i>
                                                            </span>
                                                                <span class="sale-num summary-margin-10 update_clientAddress">  </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info summary-margin-10"> Email :
                                                                <i class="fa fa-img-down"></i>
                                                            </span>
                                                                <span class="sale-num summary-margin-10 update_clientEmail"> m </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info summary-margin-10">Contact No : </span>
                                                                <span class="sale-num summary-margin-10 update_clientContactNumber">  </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-md-4-->
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="portlet light bordered">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="fa fa-users font-green"></i>
                                                            <span class="caption-subject font-dark bold uppercase">Spouse</span>
                                                        </div>
                                                        <div class="actions tab-to-remove">
                                                            <a class="btn btn-circle btn-icon-only btn-outline btn_noBor" id="btn_newSpouse" href="javascript:;">
                                                                <i class="icon-plus font-bold"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div id="spouse_list">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="portlet light bordered">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="fa fa-users font-blue"></i>
                                                            <span class="caption-subject font-dark bold uppercase">Beneficiaries</span>
                                                        </div>
                                                        <div class="actions tab-to-remove">
                                                            <a class="btn btn-circle btn-icon-only btn-outline btn_noBor" id="btn_newBenif" href="javascript:;">
                                                                <i class="icon-plus font-bold"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="mt-element-list">
                                                            <div class="mt-list-container list-simple benif_list">
                                                                <ul id="benif_list_details"></ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- start tab_1_2-->
                            <div class="tab-pane" id="tab_1_2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Property Name</label>
                                                    <div class="form-inline">
                                                        <select class="form-control edited clientPropertiesList" style="width: 30%">
                                                        <option></option>
                                                    </select>
                                                        <!-- <a href="#" data-clientID="" class="btn btn-outline green btnAddMoreProperty"  style="float: right;"> <span class="icon-plus" style="padding-right: 5px;"></span>Add More Property</a> -->
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3 tab-to-remove">
                                                <div class="form-group">
                                                    <!-- <label class="form-label">Property Name</label> -->
                                                    <div class="form-inline">
                                                        <a href="#" data-clientID="" class="btn btn-outline green btnAddMoreProperty" style="float: right; margin-top: 21px;"> <span class="icon-plus" style="padding-right: 5px;"></span>Add More Property</a>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-inline">
                                                    <a href="#" data-clientID="" class="btn btn-outline green btnChangeProperty"  style="float: right; margin-top: 21px;"> <span class="fa fa-exchange" style="padding-right: 5px;"></span>Change Property</a>
                                                </div>
                                            </div>
                                        </div> -->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <div class="paidDaw hidden">
                                                    <img src="images/paid.png" style="height: 100px !important">
                                                </div>
                                                <!-- <button>button sample</button> -->
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="tabbable-line">
                                                <ul class="nav nav-tabs ">
                                                    <li class="active">
                                                        <a href="#tab_15_1" data-toggle="tab"> Property </a>
                                                    </li>
                                                    <li class="tab-to-remove">
                                                        <a href="#tab_15_2" data-toggle="tab"> Payment History   </a>
                                                    </li>
                                                    <li class="tab-to-remove">
                                                        <a href="#comRelSched" data-toggle="tab"> CRS </a>
                                                    </li>
                                                    <li class="tab-to-remove">
                                                        <a href="#addCom" data-toggle="tab"> Add Com </a>
                                                    </li>
                                                    <li class="tab-to-remove">
                                                        <a href="#addcharges" data-toggle="tab" id="loadDatePicker"> Additional Charges </a>
                                                    </li>
                                                    <li class="tab-to-remove">
                                                        <a href="#forFietProp" data-toggle="tab"> Forfeit Property </a>
                                                    </li>
                                                    <li class="tab-to-remove">
                                                        <a href="#changeCom" class="btnChangeAgentCom" data-toggle="tab"> Agent Com </a>
                                                    </li>
                                                    <li class="tab-to-remove">
                                                        <a href="#changeDown" class="btnchangeDownpayment" data-toggle="tab"> Downpayment </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_15_1">
                                                        <div class="portlet sale-summary">
                                                            <div class="portlet-title">
                                                                <div class="caption font-red sbold summary-margin-10"> Summary </div>
                                                                <div class="tools">
                                                                    <button class="form-control btn red" id="btn_printPropInfo"><i class="fa fa-print"></i> Print</button>
                                                                </div>
                                                            </div>
                                                            <div class="portlet-body">
                                                                <ul class="list-unstyled">
                                                                    <li>
                                                                        <span class="sale-info summary-margin-10"> ADDRESS
                                                                        <i class="fa fa-img-up"></i>
                                                                    </span>
                                                                        <span class="sale-num margin-5px summary-margin-10 prof_propertyAddress"> </span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="sale-info  summary-margin-10"> LOT NO./AREA
                                                                        <i class="fa fa-img-down"></i>
                                                                    </span>
                                                                        <span class="sale-num summary-margin-10 prof_blockAndLot">   </span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="sale-info  summary-margin-10">MODEL</span>
                                                                        <span class="sale-num summary-margin-10 prof_propertyModel">  </span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="sale-info  summary-margin-10">TYPE OF LOT </span>
                                                                        <span class="sale-num summary-margin-10 prof_propertyType">  </span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="sale-info  summary-margin-10">Price per sqm<sup>2</sup> </span>
                                                                        <span class="sale-num summary-margin-10 prof_pricePerm2">   </span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="sale-info  summary-margin-10">DATE APPLIED </span>
                                                                        <span class="sale-num summary-margin-10 prof_dateApplied">   </span>
                                                                    </li>
                                                                      <li>
                                                                        <span class="sale-info  summary-margin-10">DUE DATE </span>
                                                                        <span class="sale-num summary-margin-10 prof_dueDate">   </span>
                                                                    </li>

                                                                    <li>
                                                                        <span class="sale-info summary-margin-10">PLAN TERMS </span>
                                                                        <span class="sale-num summary-margin-10 prof_planTerms">   </span>
                                                                    </li>

                                                                    <li>
                                                                        <span class="sale-info summary-margin-10">Additional Charges </span>
                                                                        <span class="sale-num summary-margin-10 prof_additionalCharges"> 0 </span>
                                                                    </li>

                                                                    <li>
                                                                        <span class="sale-info  summary-margin-10">CONTRACT PRICE </span>
                                                                        <span class="sale-num summary-margin-10 prof_contractPrice">  </span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="sale-info  summary-margin-10">MONTHLY AMORTIZATION </span>
                                                                        <span class="sale-num summary-margin-10  prof_monthlyAmortization">  </span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="sale-info  summary-margin-10">DOWN PAYMENT </span>
                                                                        <span class="sale-num summary-margin-10 prof_downpayment"> </span>
                                                                    </li>

                                                                    <li>
                                                                        <span class="sale-info summary-margin-10 ">AGENT’S NAME: </span>
                                                                        <span class="sale-num summary-margin-10 prof_agentFullname"> </span>
                                                                    </li>

                                                                    <li>
                                                                        <span class="sale-info summary-margin-10 ">Com Release Schedule: </span>
                                                                        <span class="sale-num summary-margin-10 prof_ComRelease"> </span>
                                                                    </li>


                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="tab_15_2">
                                                        <div class="portlet-body">
                                                            <div class="portlet light portlet-fit portlet-datatable">
                                                                <div class="portlet-title" style="padding-bottom: 0px; padding-top: 10px;">
                                                                    <div class="caption">
                                                                        <i class="icon-wallet font-blue"></i>
                                                                        <span class="caption-subject font-blue sbold uppercase">Payment Table</span>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="btn-group hidden">
                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-3 font-blue sbold uppercase" style="padding-right: 0px; margin-top: 6px">Date Range</label>
                                                                                <div class="col-md-4" style="padding-left: 0px">
                                                                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                                                        <input type="text" class="form-control" name="from">
                                                                                        <span class="input-group-addon"> to </span>
                                                                                        <input type="text" class="form-control" name="to">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="btn-group">
                                                                            <a class="btn red btn-outline" id="btn-print" href="javascript:;" data-toggle="dropdown">
                                                                                <i class="fa fa-share"></i>
                                                                                <span class="hidden-xs"> Print </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body" id="printContent">
                                                                    <div class="table-container">
                                                                        <table class="table table-striped table-bordered table-hover clientPropertyPaymentHistoryTable">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th width="20px"> # </th>
                                                                                    <th width="20px"> OR# </th>
                                                                                    <th> PAYMENT FOR MONTH </th>
                                                                                    <th> DATE OF PAYMENT</th>
                                                                                    <th> BANK/REMITTANCE</th>
                                                                                    <th> CASH</th>
                                                                                    <th> BALANCE </th>
                                                                                    <th> MODE OF PAYMENT </th>
                                                                                    <!-- <TH> AGENT'S COMMISSION </TH> -->
                                                                                    <!-- <TH> DATE CLAIMED </TH> -->
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="comRelSched">
                                                        <div class="portlet-body">
                                                            <div class="portlet light portlet-fit portlet-datatable">
                                                                <div class="portlet-title" style="padding-bottom: 0px; padding-top: 10px;">
                                                                    <div class="caption">
                                                                        <i class="icon-wallet font-blue"></i>
                                                                        <span class="caption-subject font-blue sbold uppercase">Com Release Sched</span>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="btn-group hidden">
                                                                            <div class="form-group">
                                                                                <label class="control-label col-md-3 font-blue sbold uppercase" style="padding-right: 0px; margin-top: 6px">Date Range</label>
                                                                                <div class="col-md-4" style="padding-left: 0px">
                                                                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                                                        <input type="text" class="form-control" name="from">
                                                                                        <span class="input-group-addon"> to </span>
                                                                                        <input type="text" class="form-control" name="to">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="btn-group">
                                                                            <a class="btn blue btn-outline btnComRelSched" href="javascript:;" data-toggle="dropdown">
                                                                                <i class="fa fa-share"></i>
                                                                                <span class="hidden-xs"> Update </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body">
                                                                    <div class="row">
                                                                        <div class="col-xs-4">
                                                                            <div class="form-group form-md-line-input ">
                                                                                <input type="text" class="form-control updateComRelSched" placeholder="" name="updateComRelSched">
                                                                                <label class="control-label" for="form_control_1">COM RELEASE SCHEDULE</label>
                                                                                <div class="form-control-focus"> </div>
                                                                                <span class="help-block"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="addCom">
                                                        <div class="portlet-body">
                                                            <div class="portlet light portlet-fit portlet-datatable">
                                                                <div class="portlet-title" style="padding-bottom: 0px; padding-top: 10px;">
                                                                    <div class="caption">
                                                                        <i class="icon-wallet font-blue"></i>
                                                                        <span class="caption-subject font-blue sbold uppercase">Add Commission</span>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="btn-group">
                                                                            <a class="btn blue btn-outline btnAddCom" href="javascript:;" data-toggle="dropdown">
                                                                                <i class="fa fa-share"></i>
                                                                                <span class="hidden-xs"> Update </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body">
                                                                    <div class="row">
                                                                        <div class="col-xs-4">
                                                                            <div class="form-group form-md-line-input ">
                                                                                <input type="text" class="form-control updateAddCom" placeholder="" name="updateAddCom">
                                                                                <label class="control-label" for="form_control_1">ADD COMMISSION</label>
                                                                                <div class="form-control-focus"> </div>
                                                                                <span class="help-block"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="addcharges">
                                                        <div class="portlet-body">
                                                            <div class="portlet light portlet-fit portlet-datatable">
                                                                <div class="portlet-title" style="padding-bottom: 0px; padding-top: 10px;">
                                                                    <div class="caption">
                                                                        <i class="icon-wallet font-blue"></i>
                                                                        <span class="caption-subject font-blue sbold uppercase">Additional Charges</span>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="btn-group">
                                                                            <a class="btn blue btn-outline btnaddCharges" href="javascript:;" data-toggle="dropdown">
                                                                                <i class="fa fa-share"></i>
                                                                                <span class="hidden-xs"> Update </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body">
                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            <h3 class="col-sm-4 block upcharges">Add Additional Charges</h3>
                                                                            <div class="col-sm-5 text-left " style="margin-top:10px;">
                                                                                <h3 class="upcharges">Total Charges: <label class="totalCharges">0</label></h3>
                                                                            </div>
                                                                            <div class="col-sm-3 text-left" style="margin-top:10px;">
                                                                                <a href="javascript:;" class="btn btn-outline green cms-addo-charges"><span class="icon-plus"></span> Add more charges</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="addtional-charges">

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="forFietProp">
                                                        <div class="portlet-body">
                                                            <div class="portlet light portlet-fit portlet-datatable">
                                                                <div class="portlet-title" style="padding-bottom: 0px; padding-top: 10px;">
                                                                    <div class="caption">
                                                                        <i class="icon-wallet font-blue"></i>
                                                                        <span class="caption-subject font-blue sbold uppercase">Property Status</span>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="btn-group">
                                                                            <a class="btn blue btn-outline btnForfietThisProperty" href="javascript:;" data-toggle="dropdown">
                                                                                <i class="fa fa-share"></i>
                                                                                <span class="hidden-xs"> Forfeit Property </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body">
                                                                    <H3><span class="propertyStatus">Active</span></H3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="changeCom">
                                                        <div class="portlet-body">
                                                            <div class="portlet light portlet-fit portlet-datatable">
                                                                <div class="portlet-title" style="padding-bottom: 0px; padding-top: 10px;">
                                                                    <div class="caption">
                                                                        <i class="icon-wallet font-blue"></i>
                                                                        <span class="caption-subject font-blue sbold uppercase">Agent Comission</span>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="btn-group">
                                                                            <a class="btn blue btn-outline btnUpdateAgentCom" href="javascript:;" data-toggle="dropdown">
                                                                                <i class="fa fa-share"></i>
                                                                                <span class="hidden-xs"> Update Agent Com </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body">
                                                                    <div class="row">
                                                                        <div class="AgentComList">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="changeDown">
                                                        <div class="portlet-body">
                                                            <div class="portlet light portlet-fit portlet-datatable">
                                                                <div class="portlet-title" style="padding-bottom: 0px; padding-top: 10px;">
                                                                    <div class="caption">
                                                                        <i class="icon-wallet font-blue"></i>
                                                                        <span class="caption-subject font-blue sbold uppercase">Downpayment</span>
                                                                    </div>
                                                                    <div class="actions">
                                                                        <div class="btn-group">
                                                                            <a class="btn blue btn-outline btnUpdateDownpayment" href="javascript:;" data-toggle="dropdown">
                                                                                <i class="fa fa-share"></i>
                                                                                <span class="hidden-xs"> Update </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body">
                                                                    <div class="row">
                                                                        <div class="col-xs-4">
                                                                            <div class="form-group form-md-line-input ">
                                                                                <input type="text" class="form-control txt_updateDownpayment" placeholder="" name="txt_updateDownpayment">
                                                                                <label class="control-label" for="form_control_1">Update Downpayment</label>
                                                                                <div class="form-control-focus"> </div>
                                                                                <span class="help-block"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--   start tab_1_3 -->
                            <div class="tab-pane" id="tab_1_3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="portlet box green ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-map-marker"></i>Update Info </div>
                                                <div class="tools">
                                                    <!-- <a href="" class="collapse"> </a>
                                                <a href="" class="reload"> </a> -->
                                                </div>
                                            </div>
                                            <div class="portlet-body form">
                                                <form class="form updateClientForm2" action="#" role="form">
                                                    <div class="form-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-md-4">
                                                                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                                                                        <input type="text" class="form-control update_clientFname" name="update_clientFname" id="form_control_1">
                                                                        <label for="form_control_1">First Name</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                                        <input type="text" class="form-control update_clientLname" name="update_clientLname" id="form_control_1">
                                                                        <label for="form_control_1">Last Name</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                                        <input type="text" class="form-control update_clientMname" name="update_clientMname" id="form_control_1">
                                                                        <label for="form_control_1">Middle Name</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-md-8">
                                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                                        <input type="text" class="form-control update_clientAddress txt_clientAddress" name="update_clientAddress" id="form_control_1">
                                                                        <label for="form_control_1">Address Name</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                                        <input type="text" class="form-control update_clientContactNumber txt_number" name="update_clientContactNumber" id="form_control_1">
                                                                        <label for="form_control_1">Contact No.</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-md-4">
                                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                                        <input type="text" class="form-control update_clientEmail txt_emai" name="update_clientEmail" id="form_control_1">
                                                                        <label for="form_control_1">Email</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                      <div class="col-md-8">
                                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                                        <input type="text" class="form-control update_Remarks txt_remarks" name="update_Remarks" id="form_control_1">
                                                                        <label for="form_control_1">Remarks</label>
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions right">
                                                        <button type="submit" class="btn btn-outline green btnUpdateClient" data-id=''><i class="fa fa-pencil" aria-hidden="true"></i> Update</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->



    <!-- print property info -->
    <div id="printReceipt" class="hidden">
        <style type="text/css">
            .cms-logo {
                width: 24%;
                /*height: 100%;*/
            }
            
            .cms-text-center {
                text-align: center;
            }
            
            .flex-container {
                display: flex;
                /*background-color: DodgerBlue;*/
            }
            
            .flex-container>div {
                /*background-color: #f1f1f1;*/
                margin: 10px;
                padding: 5px;
                font-size: 30px;
            }
            
            .cms-md-6 {
                margin: 10px;
                padding: 5px;
                width: 50%;
            }
            
            label.cms-bold {
                padding-top: 6px;
                padding-right: 10px;
            }
            
            .cms-md-6.right {
                text-align: right;
                margin-bottom: 0px;
            }
            
            .cms-md-12 {
                margin: 10px;
                padding: 5px;
                width: 100%;
            }
            
            label.cms-fsize {
                font-size: 51% !important;
            }
            
            .flex-container.center {
                text-align: center;
            }
            
            h4.cms-hr-margin-top.h4-margin {
                font-size: 49%;
                margin-bottom: 0px;
            }
            
            label.form-label.cms-bold.txt-margin-left {
                font-size: 15px;
                padding-left: 10px;
                margin-top: 0px;
            }
            
            .cms-md-12.right {
                text-align: right;
                font-size: 82%;
            }
        </style>

        <div class="row">
            <div class="cms-container cms-text-center">
                <img src="images/logo-invert.jpg" class="cms-logo">
            </div>

            <div class="flex-container">
                <div class="cms-md-6">
                    <label class="cms-fsize" style="padding-left: 10px;font-size: 46%;margin-top: 9px;">Name: <span style="font-weight: normal; " class="update_clientFullname"></span></label>
                </div>

                <div class="cms-md-6 right">
                    <label class="cms-fsize" style="padding-left: 10px;font-size: 46%;margin-top: 9px;">Date Applied : <span style="font-weight: normal;" style="font-weight: normal;" class="prof_dateApplied"> </label>
                </div>
            </div>

            <div class="flex-container center">
                <h4 class="cms-md-12">Property Details</h4>
            </div>
            <div class="cms-container addClient_summary_propertyList2" style="margin-top: 20px;">
                <div class="flex-container">
                    <div class="cms-md-6">

                        <h4 class="cms-hr-margin-top h4-margin">Address:</h4>
                        <label class="form-label cms-bold txt-margin-left prof_propertyAddress"> </label>

                        <h4 class="cms-hr-margin-top h4-margin">LOT NO./AREA :</h4>
                        <label class="form-label cms-bold txt-margin-left prof_blockAndLot"></label>

                        <h4 class="cms-hr-margin-top h4-margin">Type:</h4>
                        <label class="form-label cms-bold txt-margin-left prof_propertyType"></label>

                        <h4 class="cms-hr-margin-top h4-margin">Model:</h4>
                        <label class="form-label cms-bold txt-margin-left prof_propertyModel"></label>

                        <h4 class="cms-hr-margin-top h4-margin">Additional Charges:</h4>
                        <label class="form-label cms-bold txt-margin-left prof_additionalCharges"></label>

                    </div>

                    <div class="cms-md-6" style="padding-top: 0px;">

                        <h4 class="cms-hr-margin-top h4-margin">Plan Terms</h4>
                        <div class="">
                            <label class="form-label cms-bold txt-margin-left prof_planTerms"> </label>
                        </div>

                        <h4 class="cms-hr-margin-top h4-margin">Contract Price :</h4>
                        <div class="">
                            <label class="form-label cms-bold txt-margin-left prof_contractPrice"></label>
                        </div>

                        <h4 class="cms-hr-margin-top h4-margin">Monthly Amortization:</h4>
                        <div class="">
                            <label class="form-label cms-bold txt-margin-left"><span style="font-weight: normal;" class="prof_monthlyAmortization"></span></label>
                        </div>

                        <h4 class="cms-hr-margin-top h4-margin">Price per SQM:</h4>
                        <label class="form-label cms-bold txt-margin-left prof_pricePerm2"></label>

                    </div>

                    <!-- <div class="cms-col-md-6 cms-text-right cms-downpayment-margin-top">
                    <label class="form-label cms-bold ">Downpayment : <span style="font-weight: normal;" class="prof_downpayment">P100,000.00</span></label>
                </div>

                <div class="cms-col-md-12" style="margin-top: 10px">
                    <hr style="margin-top: 0px !important; margin-bottom: 5px;">
                </div> -->

                </div>
            </div>

            <div class="flex-container">
                <div class="cms-md-12 right">
                    <label class="from-label sbold uppercase">Agent: <span class="text-normal prof_agentFullname"></span></label>
                </div>
            </div>
        </div>
    </div>


    <!-- print payment history -->
    <div class="hidden">
        <div id="reporPropertyPaymentHistory">
            <style type="text/css">
                .reporPropertyPaymentHistory .content-header {
                    margin-bottom: 5px;
                }
                
                span.cms-pdng-3.cms-text-normal.uppercase.prof_propertyModel {
                    padding-left: 250px;
                }
                
                .reporPropertyPaymentHistory p {
                    margin: 0px, 0px;
                }
                
                .reporPropertyPaymentHistory .cms-container {
                    padding: 5px;
                }
                
                .reporPropertyPaymentHistory .cms-col-md-12 {
                    margin: 0 auto;
                    max-width: 100%;
                    border-radius: 3px;
                    padding: 15px;
                }
                
                .reporPropertyPaymentHistory .cms-form-group {
                    padding: 5px;
                    width: 100%;
                }
                
                .reporPropertyPaymentHistory .cms-bold {
                    font-weight: bold;
                }
                
                .reporPropertyPaymentHistory .cms-row {
                    width: 100%;
                }
                
                .reporPropertyPaymentHistory .cms-margin-top {
                    margin-top: 60px;
                }
                
                .reporPropertyPaymentHistory .cms-pdng-1 {
                    padding-left: 180px;
                }
                
                .reporPropertyPaymentHistory .cms-pdng-2 {
                    padding-left: 235px;
                }
                
                .reporPropertyPaymentHistory .cms-pdng-3 {
                    padding-left: 195px;
                }
                
                .reporPropertyPaymentHistory .cms-pdng-4 {
                    padding-left: 193px;
                }
                
                .reporPropertyPaymentHistory .cms-pdng-5 {
                    padding-left: 165px;
                }
                
                .reporPropertyPaymentHistory .cms-pdng-6 {
                    padding-left: 206px;
                }
                
                .reporPropertyPaymentHistory .cms-pdng-7 {
                    padding-left: 177px;
                }
                
                .reporPropertyPaymentHistory .cms-pdng-8 {
                    padding-left: 97px;
                }
                
                .reporPropertyPaymentHistory table {
                    border-collapse: collapse;
                    width: 100%;
                }
                
                .reporPropertyPaymentHistory th,
                .reporPropertyPaymentHistory td {
                    padding: 8px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                }
                
                .reporPropertyPaymentHistory table,
                .reporPropertyPaymentHistory td,
                .reporPropertyPaymentHistory th {
                    border: 1px solid #ddd;
                    text-align: left;
                }
                
                .reporPropertyPaymentHistory tr:hover {
                    background-color: #f5f5f5
                }
                
                .reporPropertyPaymentHistory th {
                    background-color: #4CAF50;
                    color: white;
                }
                
                .reporPropertyPaymentHistory .cms-text-right {
                    text-align: right;
                }
                
                .reporPropertyPaymentHistory .cms-text-normal {
                    font-weight: normal;
                }
                
                .reporPropertyPaymentHistory .cms-text-center {
                    text-align: center;
                }
                
                .reporPropertyPaymentHistory .cms-pdng-right {
                    padding-right: 5px;
                }
                
                .reporPropertyPaymentHistory .cms-num {
                    width: 5%
                }
                
                .reporPropertyPaymentHistory .cms-logo {
                    width: 20%;
                    /*height: 100%;*/
                }
                /*media queries*/
                
                @media screen and (max-width: 320px) {
                    .reporPropertyPaymentHistory div {
                        font-size: 0.7em;
                    }
                }
                
                @media screen and (max-width: 640px) {
                    .reporPropertyPaymentHistory div {
                        font-size: 0.73em;
                    }
                    .reporPropertyPaymentHistory .cms-pdng-8 {
                        padding-left: 44px;
                    }
                    .reporPropertyPaymentHistory .cms-pdng-7 {
                        padding-left: 104px;
                    }
                    .reporPropertyPaymentHistory .cms-pdng-6 {
                        padding-left: 126px;
                    }
                    .reporPropertyPaymentHistory .cms-pdng-5 {
                        padding-left: 98px;
                    }
                    .reporPropertyPaymentHistory .cms-pdng-4 {
                        padding-left: 118px;
                    }
                    .reporPropertyPaymentHistory .cms-pdng-3 {
                        padding-left: 120px;
                    }
                    .reporPropertyPaymentHistory .cms-pdng-2 {
                        padding-left: 151px;
                    }
                    .reporPropertyPaymentHistory .cms-pdng-1 {
                        padding-left: 110px;
                    }
                    .reporPropertyPaymentHistory .cms-margin-top {
                        margin-top: 27px;
                    }
                    .reporPropertyPaymentHistory .cms-logo {
                        width: 24%;
                        /*height: 100%;*/
                    }
                }
            </style>


            <div class="reporPropertyPaymentHistory">
                <div class="cms-container cms-text-center">
                    <img src="images/logo-invert.jpg" class="cms-logo">
                </div>
                <div class="cms-container">
                    
                           <h2 class="cms-text-center" style="margin-bottom: 5px; margin-top: 0px"> R AND SONS PROPERTIES Co.</h2>
                                            <p class="cms-text-center" style="margin:0px;"> 2nd floor S10 at The Paddock, J.Camus St.</p>
                                            <p class="cms-text-center" style="margin:0px;"> Davao City, Davao del Sur, Philippines 8000</p>
                                            <p class="cms-text-center" style="margin:0px;"> Tel no. (082) 322-6819 </p>
                </div>

                <div class="cms-container cms-margin-top">
                    <div class="cms-col-md-12">
                        <div class="cms-form-group">
                            <label class="cms-bold">CLIENT’S NAME <span class="cms-pdng-1 cms-text-normal  uppercase update_clientFullname">: APRIL KARMEL PADUGANAN</span></label>
                        </div>
                        <div class="cms-form-group">
                            <label class="cms-bold">ADDRESS <span class="cms-pdng-2 cms-text-normal  uppercase prof_propertyAddress">: BRGY. CAMUDMUD, BABAK DIST., IGACOS  </span> </label>
                        </div>
                        <div class="cms-form-group">
                            <label class="cms-bold">LOT NO./AREA <span class="cms-pdng-3 cms-text-normal uppercase prof_blockAndLot">: BLK. 1 LOT NO. 14</span> </label>
                        </div>
                        <div class="cms-form-group">
                            <label class="cms-bold">MODEL <span class="cms-pdng-3 cms-text-normal uppercase prof_propertyModel">: RAW LOTS (120 SQ.M)</span> </label>
                        </div>
                        <div class="cms-form-group">
                            <label class="cms-bold">DATE APPLIED <span class="cms-pdng-4 cms-text-normal uppercase prof_dateApplied">: JANUARY 5, 2017</span> </label>
                        </div>
                        <div class="cms-form-group">
                            <label class="cms-bold">CONTRACT PRICE <span class="cms-pdng-5 cms-text-normal uppercase prof_contractPrice">: P180, 000.00</span> </label>
                        </div>
                        <div class="cms-form-group">
                            <label class="cms-bold">PLAN TERMS <span class="cms-pdng-6 cms-text-normal uppercase prof_planTerms">: 48 MONTHS</span> </label>
                        </div>
                        <div class="cms-form-group">
                            <label class="cms-bold">DOWN PAYMENT <span class="cms-pdng-7 cms-text-normal uppercase prof_downpayment">: P100, 000.00</span> </label>
                        </div>
                        <div class="cms-form-group">
                            <label class="cms-bold">MONTHLY AMORTIZATION <span class="cms-pdng-8 cms-text-normal uppercase prof_monthlyAmortization">: P3, 541.00</span> </label>
                        </div>
                    </div>
                </div>

                <div class="cms-container">
                    <div class="cms-col-md-12 cms-text-right">
                        <label class="cms-bold">Agent Name <span class="cms-text-normal cms-pdng-right prof_agentFullname">: IRENE DAMAG </span> </label>
                    </div>
                </div>

                <div class="cms-container">
                    <div class="cms-col-md-12">
                        <table class="listOfPaymentHistory table-sm">
                            <tr>
                                <th class="cms-num">#</th>
                                <th>OR #</th>
                                <th>PAYMENT FOR MONTH</th>
                                <th>DATE OF PAYMENT</th>
                                <th>CASH</th>
                                <th>BANK/REMITTANCE</th>
                                <th>BLANCE</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>