
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#Dashboard" class="toHome">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Employee</span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Add User</span>
            </li>
        </ul>
    </div>
    <div class="portlet box purple ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-users"></i> Add Employee 
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body ">
            <div class="form-body addUserForm">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Employement Information:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control adduser_firstname" id="form_control_1" value="">
                                <label for="form_control_1" >First Name:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>    
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control adduser_lastname" id="form_control_1" value="">
                                <label for="form_control_1">Last Name:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>    
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control adduser_middlename" id="form_control_1" value="">
                                <label for="form_control_1" >Middle Name:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control adduser_address" id="form_control_1" value="">
                                <label for="form_control_1" >Address:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control adduser_contactnumber" id="form_control_1" value="">
                                <label for="form_control_1">Contact #:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-sm-6">   
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="email" class="form-control adduser_email" id="form_control_1" value="">
                                <label for="form_control_1" >Email:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>  
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label has-success">
                                <select class="form-control edited adduser_position" id="form_control_1">
                                    <option value="admin">Admin</option>
                                    <option value="manager">Manager</option>
                                    <option value="encoder">Encoder</option>
                                </select>
                                <label for="form_control_1">Position:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Login Credential:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">   
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control adduser_username" id="form_control_1" value="">
                                <label for="form_control_1">Username:</label>
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="password" class="form-control adduser_password" id="form_control_1 " value="">
                                <label for="form_control_1">Password:</label>
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="password" class="form-control adduser_confirmpassword"  id="form_control_1" value="">
                                <label for="form_control_1" >Confirm Password:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>  
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <button type="button" class="btn  btn-outline red adduser_btnclear"><i class="fa fa-close" aria-hidden="true"></i> Clear</button>
                            <button type="submit" class="btn btn-outline green adduser_btnsubmit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
                        </div>
                    </div>
                </div>     
            </div>
            
        </div>
    </div>
</div>