
<%_.each(users, function(data){ %>
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#Dashboard" class="toHome">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Employee</span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>Update User</span>
            </li>
        </ul>
    </div>
    <div class="portlet box red ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-users"></i> Update Employee 
            </div>
            <div class="tools">
                <button type="submit" class="btn btn-xs btn-outline white updateuser_btnUpdateReturn"><i class="fa fa-arrow-left" aria-hidden="true"></i> Return</button>
            </div>
        </div>
        <div class="portlet-body ">
            <div class="form-body updateuserForm">
                <div class="col-md-8 updateUserInfoContainer">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Employement Information:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label edited">
                                <input type="text" class="form-control updateuser_firstname user_fname" id="form_control_1" value="<%= data.user_fname %>">
                                <label for="form_control_1" >First Name:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>    
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label edited">
                                <input type="text" class="form-control updateuser_lastname user_lname" id="form_control_1" value="<%= data.user_lname %>">
                                <label for="form_control_1">Last Name:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>    
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control updateuser_middlename user_mname" id="form_control_1" value="<%= data.user_mname %>">
                                <label for="form_control_1" >Middle Name:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control updateuser_address user_address" id="form_control_1" value="<%= data.user_address %>">
                                <label for="form_control_1" >Address:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control updateuser_contactnumber user_contactNumber" id="form_control_1" value="<%= data.user_contactNumber %>">
                                <label for="form_control_1">Contact #:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-sm-6">   
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="email" class="form-control updateuser_email user_email" id="form_control_1" value="<%= data.user_email %>">
                                <label for="form_control_1" >Email:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>  
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label has-success edited">
                                <select class="form-control edited updateuser_position user_position" data-value='<%= data.user_position %>' id="form_control_1">
                                    <option value="Admin">Admin</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Encoder">Encoder</option>
                                </select>
                                <label for="form_control_1">Position:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 updateUserLoginCredentialContainer">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Login Credential:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 "> 
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="text" class="form-control updateuser_username user_username" id="form_control_1 " value="<%= data.user_username %>">
                                <label for="form_control_1">Username:</label>
                                <span class="help-block"></span>
                            </div>  
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="password" class="form-control updateuser_password " id="form_control_1 " value="">
                                <label for="form_control_1">New Password:</label>
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input type="password" class="form-control updateuser_confirmpassword"  id="form_control_1" value="">
                                <label for="form_control_1" >Confirm Password:</label>
                                <span class="help-block"></span>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-outline green updateuser_btnPasswordUpdatesubmit" data-id="<%= data.ID %>"><i class="fa fa-paper-plane" aria-hidden="true"></i> Update</button>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-outline green updateuser_btnInformationUpdatesubmit" data-id="<%= data.ID %>"><i class="fa fa-paper-plane" aria-hidden="true"></i> Update</button>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
</div>


<% }); %>