
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#Dashboard" class="toHome">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>User List</span>
                <i class="fa fa-angle-right"></i>
            </li>
          
        </ul>
    </div>
    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-users"></i> User List
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body ">
            <table class="table table-striped table-bordered table-hover employeeListTable" >
                <thead>
                    <tr>
                        <th> Full Name </th>
                        <th> Role </th>
                        <th> Email </th>
                        <th> Username </th>
                        <td width="22%" class="text-center">Action</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td> Trident </td>
                        <td> Internet Explorer 4.0 </td>
                        <td> Win 95+ </td>
                        <td> 4 </td>
                        <td>
                            <button type="button" class="btn btn-outline green" ><i class="icon-pencil"></i> Update</button>
                            <button type="button" class="btn btn-outline red"><i class="icon-close"></i> Remove</button>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>