
<%_.each(user, function(data){ %>
<style>
    .user-form-agent{
        height: 165px;
    }

    .padding-left-16{
        padding-left: 16px;
    }
</style>

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <link href="addons/metronic/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />

    <!-- BEGIN CONTENT BODY -->
    <div class="page-content userProfileHTML">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#Dashboard" class="toHome">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#javascript" id="backtoUserList"> <span >User List</span> </a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Profile</span>
                </li>
            </ul>
            
        </div>
          <div class="profile">
            <div class="tabbable-line tabbable-full-width">
               <!-- prof -->
                <div class="row">               
                    <div class="col-md-3">
                        <form method="" id="employeeProfilePictureForm" action="">
                            <ul class="list-unstyled profile-nav">
                                <li>
                                   <img src="images/no_image.jpg" class="img-responsive pic-bordered userProfileImage" alt="" id="btnfile"> 
                                        <input type ="hidden" class="imageEmployeeID" name="dataID" value="" />
                                        <input type ="hidden" name="MAX_FILE_SIZE" value="10000000000000" />
                                        <input name="file_uploads" type="file" id="file_uploads" style="display: none;">
                                    </img>
                                    <a href="javascript:;" class="profile-edit hidden" style="text-decoration: none"> Click image to select file</a>
                                </li>
                                <li>
                                    <button  class="btn btn-outline blue hidden btnUserimg-update img-update" style="width: 100%"><span  class="icon-cloud-upload"> </span> Upload</button>
                                </li>
                                <li>
                                    <a href="#tab_1_1" class="userProfilePage overView" data-toggle="tab"> Overview </a>
                                </li>
                                <li>
                                    <a href="#updateUserProfileInfoform" class="updateUserProfileInfoform updateInfo"  data-toggle="tab"> Update Info
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" data-toggle="tab" class="changePass"> Login Settings </a>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <!-- end prof -->
                        <div class="tab-content">
                          <!--start tab_1_1-->
                            <div class="tab-pane active" id="tab_1_1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <!-- <h1 class="font-green sbold uppercase">John Doe</h1> -->
                                                 <div class="portlet sale-summary">
                                                    <div class="portlet-title">
                                                        <div class="caption font-green sbold uppercase margin-10px"> <%= data.user_fname %>  <%= data.user_mname %> <%= data.user_lname %> </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <span class="sale-info margin-10px">Address :
                                                                    <i class="fa fa-img-up"></i>
                                                                </span>
                                                                <span class="sale-num margin-10px">  <%= data.user_address %>  </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info margin-10px"> Email :
                                                                    <i class="fa fa-img-down"></i>
                                                                </span>
                                                                <span class="sale-num margin-10px"> <%= data.user_email %> </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info margin-10px">Contact No : </span>
                                                                <span class="sale-num margin-10px"> <%= data.user_contactNumber %> </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info margin-10px">Position : </span>
                                                                <span class="sale-num margin-10px"> <%= data.user_position %> </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-md-4-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                </div>
                            </div>
                            <!-- start updateUserProfileInfoform-->
                            <div class="tab-pane" id="updateUserProfileInfoform">
                                <div class="row">
                                    <div class="col-md-12">
                                       <div class="portlet box red ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <strong><i class="fa fa-id-card"></i> Update Profile </strong>
                                                </div>
                                                <!-- <div class="tools">
                                                    <button type="submit" class="btn btn-xs btn-outline white updateuser_btnUpdateReturn"><i class="fa fa-arrow-left" aria-hidden="true"></i> Return</button>
                                                </div> -->
                                            </div>
                                            <div class="portlet-body ">
                                                <div class="form-body updateuserForm">
                                                    <div class="col-md-12 updateUserInfoContainer">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <h3>Profile Information:</h3>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group form-md-line-input form-md-floating-label edited">
                                                                    <input type="text" class="form-control updateuser_firstname user_fname" id="form_control_1" value="<%= data.user_fname %>">
                                                                    <label for="form_control_1" >First Name:</label>
                                                                    <span class="help-block"></span>
                                                                </div>
                                                            </div>    
                                                            <div class="col-md-4">
                                                                <div class="form-group form-md-line-input form-md-floating-label edited">
                                                                    <input type="text" class="form-control updateuser_lastname user_lname" id="form_control_1" value="<%= data.user_lname %>">
                                                                    <label for="form_control_1">Last Name:</label>
                                                                    <span class="help-block"></span>
                                                                </div>
                                                            </div>    
                                                            <div class="col-md-4">
                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                    <input type="text" class="form-control updateuser_middlename user_mname" id="form_control_1" value="<%= data.user_mname %>">
                                                                    <label for="form_control_1" >Middle Name:</label>
                                                                    <span class="help-block"></span>
                                                                </div>
                                                            </div>    
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                    <input type="text" class="form-control updateuser_address user_address" id="form_control_1" value="<%= data.user_address %>">
                                                                    <label for="form_control_1" >Address:</label>
                                                                    <span class="help-block"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                    <input type="text" class="form-control updateuser_contactnumber user_contactNumber" id="form_control_1" value="<%= data.user_contactNumber %>">
                                                                    <label for="form_control_1">Contact #:</label>
                                                                    <span class="help-block"></span>
                                                                </div>
                                                            </div>   
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">   
                                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                                    <input type="email" class="form-control updateuser_email user_email" id="form_control_1" value="<%= data.user_email %>">
                                                                    <label for="form_control_1" >Email:</label>
                                                                    <span class="help-block"></span>
                                                                </div>
                                                            </div>  
                                                            <div class="col-sm-6" id="position_div">
                                                                <div class="form-group form-md-line-input form-md-floating-label has-success edited">
                                                                    <select class="form-control edited updateuser_position user_position" data-value='<%= data.user_position %>' id="form_control_1">
                                                                        <option value="Admin">Admin</option>
                                                                        <option value="Manager">Manager</option>
                                                                        <option value="Encoder">Encoder</option>
                                                                    </select>
                                                                    <label for="form_control_1">Position:</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="col-sm-12">
                                                                <button type="submit" class="btn btn-outline green updateuser_btnInformationUpdatesubmit" data-id="<%= data.ID %>"><i class="fa fa-paper-plane" aria-hidden="true"></i> Update</button>
                                                            </div>
                                                        </div>
                                                    </div>     
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                    
                            </div>
                            <!-- start tab_1_3-->
                            <div class="tab-pane" id="tab_1_3">
                                <div class="row">
                                    <div class="col-md-12">
                                         <div class="portlet box green ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                  <strong>  <i class="fa fa-key" aria-hidden="true"></i>
                                                    Change Password </strong>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-body">
                                                            <div class="row">
                                                                <h4> <strong class="padding-left-16"> Username </strong> </h4>
                                                                <div class="form-group user-form-agent">
                                                                    <div class="col-md-offset-1 col-md-10">
                                                                        <div class="form-group form-md-line-input">
                                                                            <input type="text" class="form-control" id="txt_username_user">
                                                                            <label for="txt_username_user">Username</label>
                                                                            <span class="help-block"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-actions text-right">
                                                            <button type="button" data-id="" class="btn btn-outline green" id="btn_setUsername_user"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit  </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-body form updateUserLoginCredentialContainer">
                                                            <div class="row">
                                                                <h4> <strong> Password </strong> </h4>
                                                                <div class="form-group">
                                                                    <div class="col-md-offset-1 col-md-10">
                                                                        <div class="form-group form-md-line-input">
                                                                            <input type="password" class="form-control" id="txt_current_pass">
                                                                            <label for="txt_current_pass">Current </label>
                                                                            <span class="help-block"></span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-offset-1 col-md-10">
                                                                        <div class="form-group form-md-line-input">
                                                                            <input type="password" class="form-control updateuser_password" id="txt_newPass_user">
                                                                            <label for="txt_newPass_user">New </label>
                                                                            <span class="help-block"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-offset-1 col-md-10">
                                                                        <div class="form-group form-md-line-input">
                                                                            <input type="password" class="form-control updateuser_confirmpassword" id="txt_reTypeNew_user">
                                                                            <label for="txt_reTypeNew_user">Re-type New</label>
                                                                            <span class="help-block"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-actions text-right">
                                                            <button type="button" data-id="" class="btn btn-outline blue updateuser_btnPasswordUpdatesubmit"><i class="fa fa-key" aria-hidden="true"></i> Submit </button>
                                                        </div>

                                                       <!--  <div class="form-body">
                                                            <div class="col-md-6">
                                                               <div class="form-group form-md-line-input form-md-floating-label">
                                                                    <input type="password" class="form-control updateuser_password" id="form_control_1" >
                                                                    <label for="form_control_1">New Password</label>
                                                                    <span class="help-block"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">  
                                                               <div class="form-group form-md-line-input form-md-floating-label">
                                                                    <input type="password" class="form-control updateuser_confirmpassword" id="form_control_1" >
                                                                    <label for="form_control_1">Re-type New Password</label>
                                                                    <span class="help-block"></span>
                                                                </div>
                                                            </div>   
                                                        </div>
                                                        <div class="form-actions right1">
                                                            <button type="submit" class="btn btn-outline green updateuser_btnPasswordUpdatesubmit" data-id="<%= data.ID %>"><i class="fa fa-paper-plane" aria-hidden="true"></i> Update</button>
                                                        </div>   -->

                                                    </div>    
                                                </div>
                                            </div>
                                        </div>                                                    
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>    
               <!-- wew -->
            </div>
        </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

<% }); %>
